<ng-form name="{{field.field_name}}Form">
  <div class="form-group">
    <label for="{{field.field_id}}">
      {{field.field_id}})
    </label>
    <label for="{{field.field_id}}" translate="">
      {{field.field_title}}
    </label>&nbsp;
    <span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
    <div class="row-fluid">
      <select id="{{field.field_id}}"
              class="form-control"
              name="{{field.field_name}}"
              ng-model="field.field_value"
              ng-options="option.option_value as option.option_title for option in field.field_options"
              ng-required="field.field_required">
        <option value="" disabled>{{field.field_placeholder | translate}}</option>
      </select>
    </div>
    <div ng-show="!{{field.field_name}}Form.$pristine">
      <span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext | translate}}</span>
    </div>
  </div>
</ng-form>
