<ng-form name="{{field.field_name}}Form">
  <div class="form-group" ng-class="{'has-error': {{field.field_name}}Form.$invalid && !{{field.field_name}}Form.$pristine}">
    <label for="field.field_id">
      {{field.field_id}})
    </label>
    <label for="field.field_id" translate>
      {{field.field_title}}
    </label>
    &nbsp;
    <span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
    <input type="email"
           placeholder="{{field.field_placeholder | translate}}"
           id="{{field.field_id}}"
           name="{{field.field_name}}"
           class="form-control"
           ng-model="field.field_value"
           ng-required="field.field_required"
           value="field.field_value"
           validation-check criteria="{
             model: field.field_validation.unique,
             id: field.field_modelID,
             attribute: field.field_name
           }" />
    <div ng-show="!{{field.field_name}}Form.$pristine">
      <span class="pull-right required-error"
            ng-show="(field.field_required && !field.field_value) || {{field.field_name}}Form.$invalid">
          * {{field.field_helpertext | translate}}
      </span>
    </div>
  </div>
</ng-form>
