<ng-form name="{{field.field_name}}Form">
  <div class="form-group">
    <label for="{{field.field_id}}">
      {{field.field_id}})
    </label>
    <label for="{{field.field_id}}" translate>
      {{field.field_title}}
    </label>&nbsp;
    <div ng-repeat="option in field.field_options track by $index" class="row-fluid">
      <label>
        <input id="{{field.field_id}}"
               name="{{field.field_name}}"
               type="radio"
               value="{{option.option_value}}"
               ng-model="field.field_value"
               ng-required="field.field_required"/>
        &nbsp;
        <span ng-bind="option.option_title"></span>
      </label>
    </div>
    <div ng-show="!{{field.field_name}}Form.$pristine">
      <span class="required-error" ng-show="field.field_required && !field.field_value">
        * {{field.field_helpertext | translate}}
      </span>
    </div>
  </div>
</ng-form>
