<div class="panel permissions-detail-panel" ng-class="{
    'panel-default': pm.permission.action === 'read',
    'panel-success': pm.permission.action === 'create',
    'panel-warning': pm.permission.action === 'update',
    'panel-danger': pm.permission.action === 'delete'
  }">
  <div class="panel-heading selectable" ng-click="pm.toggleCollapse()">
    <i class="glyphicon" ng-class="{
      'glyphicon-chevron-right': !pm.isCollapsed,
      'glyphicon-chevron-down': pm.isCollapsed
    }"></i>
    <span>
      {{pm.permission.role.name}} can {{pm.permission.action}} <b>{{pm.permission.model.name}}</b>
    </span>
  </div>
  <div class="panel-body" uib-collapse="!pm.isCollapsed">
    <div ng-repeat="criteria in pm.permission.criteria" layout="column">
      <div flex>
        <strong>Where:</strong>
        <query-builder
          template="pm.template"
          ng-model="criteria.where"
          advanced="true">
        </query-builder>
        <br/>
      </div>

      <div flex>
        <strong>Blacklist:</strong>
        <div class="well well-sm">
          <button ng-repeat="attribute in criteria.blacklist"
                  ng-click="criteria.blacklist.splice($index, 1)"
                  type="button" class="btn btn-danger btn-xs permission-btn">
            {{attribute}} <span class="fa fa-times"></span>
          </button>
        </div>
        <div class="well well-sm">
          <button ng-repeat="attribute in pm.template.data"
                  ng-hide="criteria.blacklist.indexOf(attribute.name) > -1"
                  ng-click="pm.addToBlacklist(criteria, attribute)"
                  type="button" class="btn btn-default btn-xs permission-btn">
            {{attribute.name}} <span class="fa fa-plus"></span>
          </button>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-info btn-sm" ng-click="pm.updatePermission()"
              ng-hide="pm.permission.criteria.length === 0">
        Save Changes
      </button>
      <button type="button" class="btn btn-warning btn-sm" ng-click="pm.revertPermission()"
              ng-hide="pm.permission.criteria.length === 0">
        Revert
      </button>
      <button type="button" class="btn btn-danger btn-sm" ng-click="pm.revokePermission()">
        Revoke
      </button>
    </div>
  </div>
</div>
