<div class="modal-header">
  <h3 class="modal-title" translate>COMMON.MODELS.STUDY.SUBJECTS.ADD</h3>
</div>
<div class="modal-body">
  <user-editor horizontal="true" can-generate-password="true" user="editSubject.userData"></user-editor>
  <hr/>
  <ng-form name="enrollmentForm" class="form-horizontal" novalidate>
    <div class="form-group">
      <label for="provider" class="col-sm-3 control-label" translate>COMMON.MODELS.STUDY.SUBJECTS.PROVIDERS.IDENTITY</label>
      <div class="col-sm-9" ng-if="addSubject.studyUsers">
        <select-loader
          url="provider"
          query="addSubject.studyUsers"
          is-atomic="false"
          is-disabled="false"
          ng-model="addSubject.newSubject.providers"
          labels="displayName">
        </select-loader>
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="col-sm-3 control-label" translate>COMMON.MODELS.STUDY.SUBJECTS.PROVIDERS.STATUS</label>
      <div class="col-sm-9">
        <select name="status" class="form-control" ng-model="addSubject.newSubject.status" required>
          <option value="" disabled translate>COMMON.MODELS.STUDY.SUBJECTS.PROVIDERS.STATUS_PLACEHOLDER</option>
          <option ng-repeat="status in addSubject.statuses track by $index" value="{{status}}">{{status}}</option>
        </select>
        <p ng-show="enrollmentForm.status.$invalid"
           class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
      </div>
    </div>
    <div class="form-group" ng-repeat="(key, values) in addSubject.study.attributes track by $index">
      <label for="{{key}}" class="col-sm-3 control-label">{{key | uppercase}} &nbsp;</label>
      <div class="col-sm-9">
      <select name="studyMapping" ng-model="addSubject.newSubject.studyMapping[key]" class="form-control">
        <option value="" disabled>Select {{key}} options</option>
        <option value="{{option}}" ng-repeat="option in values track by $index">{{option}}</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <label for="doe" class="col-sm-3 control-label" translate>COMMON.MODELS.STUDY.SUBJECTS.PROVIDERS.DATE_EVENT</label>
      <div class="col-sm-9">
      <p class="input-group">
        <input name="doe" type="text" class="form-control" uib-datepicker-popup ng-model="addSubject.newSubject.doe"
               is-open="addSubject.openedDOE"
               ng-required="addSubject.newSubject.studyMapping" disabled/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="addSubject.openedDOE = true"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        <p ng-show="enrollmentForm.doe.$invalid"
           class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
      </p>
      </div>
    </div>
    <div class="form-group">
      <label for="centreInput" class="col-sm-3 control-label" translate>COMMON.MODELS.COLLECTION_CENTRE.IDENTITY</label>
      <div class="col-sm-9">
        <select-loader
          name="centreInput"
          url="{{addSubject.centreHref}}"
          is-atomic="true"
          is-disabled="false"
          ng-model="addSubject.newSubject.collectionCentre"
          labels="name"
          required>
        </select-loader>
      </div>
      <div class="col-sm-9">
        <p ng-show="!addSubject.newSubject.collectionCentre"
           class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
      </div>
    </div>
  </ng-form>

</div>
<div class="modal-footer">
  <button type="submit" id="addSubjectBtn" class="btn btn-primary"
          ng-disabled="subjectForm.$invalid || enrollmentForm.$invalid || !addSubject.newSubject.collectionCentre" ng-click="addSubject.addSubject()" translate>
    COMMON.MODELS.STUDY.SUBJECTS.ADD_BUTTON
  </button>
  <button type="button" id="cancelBtn" class="btn btn-warning" ng-click="addSubject.cancel()" translate>
    COMMON.MODELS.STUDY.SUBJECTS.CANCEL
  </button>
</div>
