<div flex ng-show="referralSummary.referralOverview">
  <table class="table table-condensed summary-table">
    <tr class="summary-header-row">
      <th ng-repeat="referralOverview in referralSummary.referralOverview" translate context-translator="{{referralOverview.prompt}}">{{referralOverview.prompt}}</th>
      <th ng-repeat="groupType in ::referralSummary.groupTypes" translate context-translator="{{groupType.prompt}}">{{groupType.prompt}}</th>
      <th ng-repeat="flag in referralSummary.flagOptionsPrompt" translate context-translator="{{flag}}">{{flag}}</th>
    </tr>
    <tr class="summary-table-row">
      <td ng-repeat="referralOverview in referralSummary.referralOverview">{{referralOverview.value}}</td>
      <td ng-style="{'padding-top': 0}" ng-repeat="groupType in ::referralSummary.groupTypes">
        <select class="form-control" ng-model="referralSummary.boundGroups[groupType.name]">
          <option value="{{::groupField.name}}" ng-repeat="groupField in ::referralSummary.groupFields" translate>
            {{::groupField.prompt}}
          </option>
        </select>
      </td>
      <td ng-style="{'padding-top': 0}" ng-repeat="flag in referralSummary.flagOptions">
        <button type="button" class="btn" ng-class="{
                  'btn-info': referralSummary.configFlags[flag],
                  'btn-default': !referralSummary.configFlags[flag]
                }"
                ng-click="referralSummary.configFlags[flag] = !referralSummary.configFlags[flag]">
          <i class="fa" ng-class="{
              'fa-cog': !referralSummary.configFlags[flag],
              'fa-chevron-down': referralSummary.configFlags[flag]
            }"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
