<div flex ng-show="summary.referralOverview">
  <table class="table table-condensed summary-table">
    <tr class="summary-header-row">
      <th ng-repeat="(label, value) in summary.referralOverview" translate>{{::label}}</th>
      <th ng-repeat="groupType in ::summary.groupTypes">{{::groupType.prompt}}</th>
      <th ng-repeat="flag in summary.flagOptions" translate>{{::flag}}</th>
    </tr>
    <tr class="summary-table-row">
      <td ng-repeat="(label, value) in summary.referralOverview">{{::value}}</td>
      <td ng-style="{'padding-top': 0}" ng-repeat="groupType in ::summary.groupTypes">
        <select class="form-control" ng-model="summary.boundGroups[groupType.name]">
          <option value="{{::groupField.name}}" ng-repeat="groupField in ::summary.groupFields" translate>
            {{::groupField.prompt}}
          </option>
        </select>
      </td>
      <td ng-style="{'padding-top': 0}" ng-repeat="flag in summary.flagOptions">
        <button type="button" class="btn" ng-class="{
                  'btn-info': summary.configFlags[flag],
                  'btn-default': !summary.configFlags[flag]
                }"
                ng-click="summary.configFlags[flag] = !summary.configFlags[flag]">
          <i class="fa" ng-class="{
              'fa-cog': !summary.configFlags[flag],
              'fa-chevron-down': summary.configFlags[flag]
            }"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
