<uib-accordion close-others="false">
  <uib-accordion-group ng-repeat="(groupKey, groupedServices) in serviceGroup.services | fuzzy: serviceGroup.search | groupBy: serviceGroup.boundGroupTypes.groupBy"
                       ng-init="serviceGroup.accordionStatus[groupKey].isOpen = true"
                       is-open="serviceGroup.accordionStatus[groupKey].isOpen" panel-class="panel-info">
    <uib-accordion-heading>
      <i class="glyphicon" ng-class="{
        'glyphicon-chevron-right': !serviceGroup.accordionStatus[groupKey].isOpen,
        'glyphicon-chevron-down': serviceGroup.accordionStatus[groupKey].isOpen
      }"></i>
      {{ groupKey === "null" ? "N/A" : groupKey }}
      <span class="pull-right">Total: {{groupedServices.length}} Recommended Service(s)</span>
    </uib-accordion-heading>

    <div layout="column">
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="(subGroup, subServices) in groupedServices | groupBy: serviceGroup.boundGroupTypes.subGroupBy"
                             ng-init="serviceGroup.accordionStatus[groupKey][subGroup].isOpen = false"
                             is-open="serviceGroup.accordionStatus[groupKey][subGroup].isOpen">
          <uib-accordion-heading>
            <i class="glyphicon" ng-class="{
                'glyphicon-chevron-right': !serviceGroup.accordionStatus[groupKey][subGroup].isOpen,
                'glyphicon-chevron-down': serviceGroup.accordionStatus[groupKey][subGroup].isOpen
              }"></i>
            {{ subGroup === "null" ? "N/A" : subGroup }}
            <span class="pull-right badge">{{subServices.length}}</span>
          </uib-accordion-heading>

          <div ng-if="serviceGroup.summaryFields.length">
            <table class="table table-condensed summary-table">
              <tr class="summary-header-row">
                <th ng-repeat="summary in serviceGroup.summaryFields" translate
                    ng-if="subServices[0][summary.name]"
                    context-translator="{{summary.prompt}}">
                  {{summary.prompt}}
                </th>
              </tr>
              <tr class="summary-table-row">
                <td ng-repeat="summary in serviceGroup.summaryFields" ng-if="subServices[0][summary.name]">
                  {{subServices[0][summary.name]}}
                </td>
              </tr>
            </table>
            <md-divider></md-divider>
          </div>

          <table class="table table-condensed" ng-if="serviceGroup.accordionStatus[groupKey][subGroup].isOpen" >
            <tr>
              <th ng-if="serviceGroup.checkboxesVisible">
                <input type="checkbox" ng-model="serviceGroup.accordionStatus[groupKey][subGroup].selectedAll"
                       ng-change="serviceGroup.applyAll(subServices, serviceGroup.accordionStatus[groupKey][subGroup].selectedAll)"/>
              </th>
              <th ng-repeat="field in serviceGroup.visitFields" translate context-translator="{{field.prompt}}">{{field.prompt}}</th>
            </tr>
            <tr ng-repeat="service in subServices | orderBy: 'itemCount'" class="{{service.rowClass}}">
              <td ng-if="serviceGroup.checkboxesVisible">
                <input type="checkbox" ng-model="service.isSelected"/>
              </td>
              <td ng-repeat="field in serviceGroup.visitFields" ng-switch="field.type">
                <service-status ng-switch-when="status"
                                service="service"
                                on-update="serviceGroup.onUpdate()"
                                status-type="{{field.name}}">
                </service-status>
                <button ng-switch-when="button"
                        class="btn btn-primary btn-sm" ng-click="field.onClick(service)">
                  <span class="glyphicon {{field.iconClass}}"></span>
                </button>
                <span ng-switch-when="price">
                  <input type="number"
                         class="form-control"
                         ng-model="service[field.name]"
                         ng-model-options="{debounce: 500, updateOn: 'blur'}"
                         ng-change="serviceGroup.savePrice(service[field.name], service)"/>
                </span>
                <span ng-switch-default>{{service[field.name] || '-'}}</span>
              </td>
            </tr>
          </table>

          <table class="table table-condensed summary-table">
            <tr class="summary-header-row">
              <th ng-repeat="(category, statuses) in serviceGroup.statuses"
                  translate context-translator="{{serviceGroup.statusTitles[category]}}">
                {{serviceGroup.statusTitles[category]}}
              </th>
            </tr>
            <tr class="summary-table-row">
              <td ng-style="{'padding-top': 0}" ng-repeat="(category, statuses)  in serviceGroup.statuses">
                <select class="form-control" ng-model="serviceGroup.statusSelections[category]"
                        ng-change="serviceGroup.applyStatusChanges(subServices, category, groupKey, subGroup)"
                        ng-disabled="!serviceGroup.isStatusDisabled(subServices)"
                        ng-options="status as status.displayName for status in statuses">
                </select>
              </td>
            </tr>
          </table>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </uib-accordion-group>
</uib-accordion>
