<div ng-style="{ 'padding-left': 15, 'padding-right': 15 }">
  <uib-accordion close-others="false" class="form-editor">
    <uib-accordion-group is-open="isEditorOpen">
      <uib-accordion-heading>
        <span class="glyphicon "
              ng-class="isEditorOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'">
        </span>
        Configuration
      </uib-accordion-heading>

      <!-- FormLayout -->
      <div ng-controller="LayoutController" class="row">
        <div scroll-past ng-controller="WidgetController" class="content_left col-md-4">
          <div class="form-group">
            <label for="form-loader">Load Form:</label>
            <select ng-model="formID" class="form-control"
                    ng-change="loadForm(formID)">
              <option value="" disabled>Select a form</option>
              <option value="new">-- New --</option>
              <option ng-repeat="selected in forms | orderBy: 'name'" value="{{selected.id}}">
                {{selected.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="form-name">Form Name:</label>
            <ui-help uib-popover="Provide a name for your form. Names must
                      be in upper case and cannot contain any spaces."
                     popover-placement="right"></ui-help>
            <input type="text" class="form-control"
                   ng-model="form.name"
                   ng-trim="true" title="Provide a name for your form"
                   placeholder="Provide a name for your form"/>
          </div>		
          <uib-tabset class="clearfix">
            <uib-tab uib-tooltip="Add new question" active="editTabActive['add']">
              <tab-heading>
                <i class="fa fa-plus-square"></i> Question
              </tab-heading>
              <div class="tab_content_inside" ng-repeat="category in unsorted(categories) track by $index">
                <h2>{{ category }}</h2>

                <div ng-repeat="template in categories[category] track by $index">
                  <a ng-click="addNewWidget(template)" class="fb_add_button">{{ template }}</a>
                </div>
              </div>
            </uib-tab>
            <uib-tab uib-tooltip="Configure question" active="editTabActive['config']" disable="!widget.template">
              <tab-heading>
                <i class="fa fa-wrench"></i> Config
              </tab-heading>
              <ng-include src="'directives/pluginEditor/partials/WidgetEditorSettings.tpl.html'">
              </ng-include>
            </uib-tab>
            <uib-tab uib-tooltip="Set question list options" active="editTabActive['list_config']"
                     ng-show="widget.properties.hasOwnProperty('options')">
              <tab-heading>
                <i class="fa fa-list-ol"></i> Options
              </tab-heading>
              <ui-list-editor list="widget.properties.options"
                              can-edit-properties="true"></ui-list-editor>
            </uib-tab>
            <uib-tab uib-tooltip="Configure question flags" active="editTabActive['flags']" disable="!widget.template">
              <tab-heading>
                <i class="fa fa-flag"></i> Flags
              </tab-heading>
              <ng-include src="'directives/pluginEditor/partials/WidgetEditorFlags.tpl.html'">
              </ng-include>
              <form class="form-horizontal" role="form">
                <div class="form-group" ng-show="widget.properties.hasOwnProperty('pattern')">
                  <label for="pattern">
                    Validation
                    <ui-help uib-popover="Set the validation pattern for this input. Use
                   Regular Expressions to defined the validation rules."></ui-help>
                  </label>
                  <input type="text" id="pattern" class="form-control"
                         ng-model="widget.properties.pattern"/>
                </div>
              </form>
            </uib-tab>
          </uib-tabset>
          <hr/>
          <div class="controls">
            <span am-time-ago="lastAutoSave"></span>
            <button type="button" class="btn btn-default pull-right"
                    ng-disabled="!!!formID" ng-if="!!!study"
                    ng-click="archive()">
              <span class="glyphicon glyphicon-trash"
                    uib-tooltip="Archive form"></span>
              Archive
            </button>
            <button class="btn btn-default pull-right" ng-model="isSaving"
                    ng-click="commitChanges()" ng-disabled="isSaving">
              <span class="glyphicon glyphicon-floppy-disk"
                    uib-tooltip="Commit Form Changes"></span>
              Save Changes
            </button>
          </div>
        </div>
        <div class="content_right col-md-8 scroll-past-anchor no-select relative">
          <legend>Workspace</legend>

          <p class="text-muted" ng-if="!questions.length">
            Use the panel on the left to add questions to the workspace.
          </p>
          <ng-form name="form">
            <ol class="form-horizontal" ui-sortable="sortableOptions" ng-model="questions"
                ng-class="{'ui-grid' : !showList, 'ui-list' : showList}">
              <ui-grid ng-repeat="cell in questions track by $index" cell="cell"
                       cell-count="grid.length" cell-index="$index" selected-index="selectedIndex">
              </ui-grid>
            </ol>
          </ng-form>

          <form class="grid-settings" ng-show="showSettings">
            <p>
              <label>Default cell size:</label>
              <span ui-slider step="5" max="100" min="20"
                    class="inline-slider"
                    ng-model="width"></span>
              <span class="percentage">{{ width }}%</span>
              <ui-help popover-placement="left"
                       uib-popover="Set the default width of a question as a
                  % of the screen size."></ui-help>
            </p>
            <p>
              <label>Shrink/Expand amount:</label>
              <span ui-slider step="5" max="50" min="5"
                    class="inline-slider"
                    ng-model="step"></span>
              <span class="percentage">{{ step }}%</span>
              <ui-help popover-placement="left"
                       uib-popover="Set the default amount to decrease/increase
                  the width of a question as a % of the screen."></ui-help>
            </p>
          </form>

          <div class="open-controls btn-group">
            <button class="btn btn-default" ng-model="showList" uib-btn-checkbox>
              <span class="glyphicon" ng-class="{ 'glyphicon-align-justify' : showList,
                'glyphicon-th-large' : !showList }"
                    uib-tooltip="Switch between grid view and list view."></span>
            </button>
            <button class="btn btn-primary" ng-model="showSettings"
                    uib-btn-checkbox uib-btn-checkbox-true="1" uib-btn-checkbox-false="0">
              <span class="glyphicon glyphicon-wrench"
                    uib-tooltip="Modify grid settings."></span>
            </button>
          </div>
        </div>
      </div>
      <!-- FormLayout -->
    </uib-accordion-group>
    <uib-accordion-group is-open="isSettingsOpen">
      <uib-accordion-heading>
        <span class="glyphicon "
              ng-class="isSettingsOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'">
        </span>
        Advanced
      </uib-accordion-heading>

      <!-- FormConfig -->
      <uib-tabset>
        <uib-tab heading="Settings">
          <form>
            <h3>Meta Data</h3>
            <form-meta-editor></form-meta-editor>
          </form>
        </uib-tab>
        <uib-tab heading="Import from JSON">
          <label for="jsonImport">
            Paste your form below:
          </label>
          <textarea id="jsonImport"
                    class="form-control"
                    ng-model="jsonForm" rows="10">
          </textarea>
          <button class="btn btn-default pull-right" ng-click="importJson(jsonForm)">
            Import
          </button>
        </uib-tab>
        <uib-tab heading="JSON">
          <pre>
            {{ form | json }}
          </pre>
        </uib-tab>
      </uib-tabset>
      <!-- FormConfig -->
    </uib-accordion-group>
  </uib-accordion>
</div>
