<table id="Collection" ng-table="tableParams" class="table">
  <thead>
  <tr>
    <th ng-repeat="column in hateoas.template.data track by $index"
        ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')"
        ng-if="!column.data" class="sortable selectable" ng-class="{'info': tableParams.isSortBy(column.name)}">
      <span translate context-translator="{{column.prompt}}">{{ column.prompt }}</span>
      <i class="fa pull-right" ng-class="{
        'fa-sort-asc': tableParams.isSortBy(column.name, 'asc'),
        'fa-sort-desc': tableParams.isSortBy(column.name, 'desc')
      }"></i>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in $data track by $index"
      ng-click="hateoas.select(item)"
      class="hateoas-row selectable"
      ng-class="{'active': item === hateoas.selected}">
    <td ng-repeat="column in hateoas.template.data track by $index"
        ng-if="!column.data"
        sortable="column.name">
      {{ item[column.name] | formatter:column }}
    </td>
  </tr>
  </tbody>
</table>
