<div>
  <uib-tabset justified="true">
    <!-- Stage 1: Define 1 survey item with n sessions in survey -->
    <!-- (study, survey, completedBy) -->
    <!-- (surveyVersion, name, timepoint, availableFrom, availableTo, type) -->
    <uib-tab heading="Define Survey" active="sb.STAGES['DEFINE_SURVEY']">
      <ng-form name="sb.surveyForm" class="form-horizontal" novalidate>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label"
                 context-translator="COMMON.MODELS.SURVEY.NAME">
            <span translate>COMMON.MODELS.SURVEY.NAME</span>&nbsp;
          </label>

          <div class="col-sm-9">
            <input type="text" name="name" class="form-control"
                   data-ng-model="sb.survey.name" required>

            <p ng-show="sb.surveyForm.name.$invalid && !sb.surveyForm.name.$pristine"
               class="pull-right required-error">Survey must have a name.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="completedBy" class="col-sm-3 control-label"
                 context-translator="COMMON.MODELS.SURVEY.COMPLETED_BY">
            <span translate>COMMON.MODELS.SURVEY.COMPLETED_BY</span>&nbsp;
          </label>

          <div class="col-sm-9">
            <select name="completedBy" class="form-control" ng-model="sb.survey.completedBy" required>
              <option value="" disabled>Select the type of user</option>
              <option value="subject" label="Subject">Subject</option>
              <option value="coordinator" label="Coordinator">Coordinator</option>
            </select>

            <p ng-show="sb.surveyForm.completedBy.$invalid && !sb.surveyForm.completedBy.$pristine"
              class="pull-right required-error">You must select a type of user to complete the survey.</p>
          </div>
        </div>
      </ng-form>

      <hr/>
      <session-builder session="sb.newSession"
                       generate-sessions="sb.generateSessions"></session-builder>
      <hr/>

      <list-editor list="sb.survey.sessions"
                   columns="sb.sessionColumns"
                   affix-missing="false"
                   can-edit="true"
                   can-add-newcol="false"
                   can-add-newrow="false"
                   can-edit-header="false"
                   can-del-row="false"
                   can-del-col="false"
                   force-reload="sb.toggleReload">
      </list-editor>
    </uib-tab>

    <!-- Stage 2: Configure m formVersions for each n session in survey -->
    <!-- (list of formVersions applied to sessions) -->
    <uib-tab heading="Select Forms" active="sb.STAGES['SELECT_FORMS']">
      <div class="row">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon selectable" ng-click="sb.isDefaultsCollapsed = !sb.isDefaultsCollapsed">
                Default Forms
                <i class="glyphicon" ng-class="{
                  'glyphicon-chevron-right': sb.isDefaultsCollapsed,
                  'glyphicon-chevron-down': !sb.isDefaultsCollapsed
                }"></i>
              </span>
              <input class="form-control" ng-model="sb.timelineQuery.name"
                     ng-model-options="{ 'debounce': 500 }"
                     placeholder="Filter encounters"/>
            </div>
          </div>
          <div class="form-group pull-right">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="sb.hideInactiveForms"/>
                Hide Inactive Forms
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="sb.isFormsToggled"
                       ng-change="sb.toggleForms(sb.isFormsToggled)"/>
                Hide All Forms
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="sb.isSessionsToggled"
                       ng-change="sb.toggleSessions(sb.isSessionsToggled)"/>
                Disable Encounters
              </label>
            </div>
          </div>
        </form>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-3 well well-sm" uib-collapse="sb.isDefaultsCollapsed">
          Apply To All Encounters <input type="checkbox" ng-model="sb.cascadeDefaults" ng-change="sb.onToggleCascadeDefaults()"/>
          <ui-help popover="If checked, changes in this panel will cascade to each selected encounter session in the survey.
                            Clicking the calendar icons will toggle cascading.">
          </ui-help>

          <ul class="list-unstyled" ui-sortable="{ 'ui-floating': true, 'cursor': 'move' }"
              ng-model="sb.survey.defaultFormVersions">
            <li ng-repeat="form in sb.survey.defaultFormVersions track by $index"
                class="selectable" ng-attr-title="version {{form.revision}}: {{form.description}}"
                ng-switch="form.active">
              <h4><span ng-switch-when="true" class="label label-primary"
                    ng-click="form.active = false" >
                {{$index + 1}}) {{form.name}}
                <i class="fa fa-times"></i>
              </span>
              <span ng-switch-default class="label label-default"
                    ng-hide="sb.hideInactiveForms"
                    ng-click="form.active = true">
                <s>{{$index + 1}}) {{form.name}}</s>
                <i class="fa fa-plus"></i>
              </span></h4>
            </li>
          </ul>
        </div>
        <div ng-class="{ 'col-md-9': !sb.isDefaultsCollapsed }">
          <div class="timeline-container" scroll-watch onscrolldown="sb.loadMore()" onscrollup="sb.loadLimit = 10">
            <timeline>
              <timeline-event ng-repeat="session in sb.survey.sessions | filter:sb.timelineQuery:strict | limitTo:sb.loadLimit:sb.beginLimit track by $index">
                <timeline-badge class="selectable" ng-class="{ 'info': !session.$noCascade, 'default': session.$noCascade }"
                                ng-click="session.$noCascade = !session.$noCascade;">
                  <i class="glyphicon glyphicon-calendar"></i>
                </timeline-badge>
                <timeline-panel class="info" ng-class="{ 'timeline-inverted': !sb.isDefaultsCollapsed }">
                  <timeline-heading>
                    <h4>
                      {{session.name}}&nbsp;
                      <span class="selectable" ng-click="session.$isCollapsed = !session.$isCollapsed">
                        <i class="glyphicon" ng-class="{
                          'glyphicon-chevron-right': session.$isCollapsed,
                          'glyphicon-chevron-down': !session.$isCollapsed
                        }"></i>
                      </span>
                    </h4>
                    <p class="text-muted" ng-if="session.type !== 'non-scheduled'">
                      <i class="glyphicon glyphicon-time"></i>
                      Occurring in {{session.timepoint | amDurationFormat: 'days'}} ({{session.timepoint}} days)
                      <br/>
                      Available {{session.availableFrom}} day(s) before and {{session.availableTo}} day(s) after
                    </p>
                  </timeline-heading>
                  <div uib-collapse="session.$isCollapsed">
                    <ul class="list-unstyled" ui-sortable="{ 'ui-floating': true, 'cursor': 'move' }"
                        ng-model="session.formOrder">
                      <li ng-repeat="id in session.formOrder track by $index"
                          class="selectable" ng-attr-title="version {{sb.formVersions[id].revision}}: {{sb.formVersions[id].description}}"
                          ng-style="{ 'margin-bottom': '-5px' }"
                          ng-switch="sb.isFormActive(id, session)">
                        <h4>
                    <span ng-switch-when="true" class="label label-primary"
                          ng-click="sb.addRemoveForm(id, session)">
                      {{$index + 1}}) {{sb.formVersions[id].name}}
                      <i class="fa fa-times"></i>
                    </span>
                    <span ng-switch-default class="label label-default"
                          ng-hide="sb.hideInactiveForms"
                          ng-click="sb.addRemoveForm(id, session)">
                      <s>{{$index + 1}}) {{sb.formVersions[id].name}}</s>
                      <i class="fa fa-plus"></i>
                    </span>
                        </h4>
                      </li>
                    </ul>
                  </div>
                </timeline-panel>
              </timeline-event>
            </timeline>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
