<div ng-switch="select.isAtomic" ng-hide="select.loadError" ng-if="select.href">
  <div ng-switch-when="true">
    <ui-select ng-if="!select.bindObject" ng-disabled="select.isDisabled" ng-model="select.values" theme="bootstrap"
               on-remove="select.fetchData($select.search, $select)">
      <ui-select-match allow-clear="true" placeholder="{{select.placeholder}}">{{$select.selected[select.labels]}}</ui-select-match>
      <ui-select-choices repeat="model.id as model in select.input | filter: $select.search"
                         scroll-watch onscrolldown="select.loadMore($select)"
                         refresh="select.fetchData($select.search, $select)"
                         refresh-delay="500">
        <span ng-bind-html="model[select.labels] | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
    <ui-select ng-if="select.bindObject" ng-disabled="select.isDisabled" ng-model="select.values" theme="bootstrap"
               on-remove="select.fetchData($select.search, $select)">
      <ui-select-match allow-clear="true" placeholder="{{select.placeholder}}">{{$select.selected[select.labels]}}</ui-select-match>
      <ui-select-choices repeat="model in select.input | filter: $select.search"
                         scroll-watch onscrolldown="select.loadMore($select)"
                         refresh="select.fetchData($select.search, $select)"
                         refresh-delay="500">
        <span ng-bind-html="model[select.labels] | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
  <div ng-switch-default>
    <ui-select multiple ng-disabled="select.isDisabled" ng-model="select.values" theme="bootstrap"
               on-remove="select.fetchData($select.search, $select)">
      <ui-select-match placeholder="{{select.placeholder}}">{{$item[select.labels]}}</ui-select-match>
      <ui-select-choices repeat="model in select.input | filter: $select.search"
                         scroll-watch onscrolldown="select.loadMore($select)"
                         refresh="select.fetchData($select.search, $select)"
                         refresh-delay="500">
        <span ng-bind-html="model[select.labels] | highlight: $select.search"></span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
