<div class="modal-header">
  <h3 class="modal-title">Translation Editor</h3>
</div>
<div class="modal-body">
  <translate-editor ng-if="context.translationsReady"
                    base-path="{{context.key}}"
                    translations="context.translations"
                    languages="context.languages"
                    queries="context.queries"
                    is-valid="context.isValid"></translate-editor>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-disabled="!context.isValid" ng-click="context.saveChanges()">Save Changes</button>
  <button class="btn btn-warning" type="button" ng-click="context.cancel()">Cancel</button>
</div>
