<table id="Collection" ng-table="tableParams" class="table table-hover table-mc-light-blue ng-table-responsive">
  <thead>
  <tr>
    <th ng-repeat="column in ht.template.data track by $index"
        ng-if="!column.data" class="sortable"
        context-translator="{{column.prompt}}"
        ng-click="order(column.name)">
      <span translate>{{ column.prompt }}</span> <i ng-class="{
            'fa fa-sort-asc': reverse===false? true : false,
            'fa fa-sort-desc': reverse===true? true : false}"></i>
      <span class="sortorder" ng-show="predicate === column.name" ng-class="{reverse:reverse}"></span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in ht.resource.items | orderBy:predicate:reverse track by $index"
      ng-click="ht.onSelect(item)"
      class="selectable"
      ng-class="{'active': item === ht.selected}">
    <td ng-repeat="column in ht.template.data track by $index"
        ng-if="!column.data"
        sortable="column.name">
      <div ng-switch="column.name">
        <div ng-switch-when="collectionCentre">
          <select-loader
            ng-if="ht.allow.update"
            url="{{column.value}}"
            is-atomic="true"
            is-disabled="false"
            ng-model="item[column.name]"
            labels="name">
          </select-loader>
          <p ng-if="!!!ht.allow.update">{{::item[column.name]}}</p>
        </div>
        <div ng-switch-when="centreAccess">
          <select ng-if="ht.allow.update" ng-model="item[column.name]" class="form-control">
            <option value="coordinator">Coordinator</option>
            <option value="interviewer">Interviewer</option>
          </select>
          <p ng-if="!!!ht.allow.update">{{::item[column.name]}}</p>
        </div>
        <div ng-switch-default>
          {{ item[column.name] | formatter:column }}
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
