<div class="container-fluid" ng-controller="ServicesController as services" ng-cloak>
  <div class="loading-screen" ng-show="!services.referral"></div>
  <div layout="column">
    <h2 flex id="Title">
      <span translate>APP.REFERRAL.SERVICES.REFERRED_SERVICES</span>&nbsp;for
      <small>{{services.referral.client_displayName}}</small>
    </h2>
    <div id="Query" flex class="clearfix">
      <form>
        <div class="form-group no-margin has-feedback has-feedback-left">
          <i class="no-top form-control-feedback fa fa-search"></i>
          <input type="text" class="form-control"
                 placeholder="{{ 'APP.REFERRAL.SERVICES.LABELS.SEARCH_REFERRED_SERVICES' | translate }}"
                 ng-model="services.search"/>
        </div>
      </form>
      <br/>
    </div>

    <referral-summary referral-data="services.referral"
                      bound-groups="services.boundGroupTypes"
                      group-types="services.groupTypes"
                      group-fields="services.groupFields"
                      config-flags="services.flagConfig">
    </referral-summary>
  </div>

  <service-group-preset bound-group-types="services.boundGroupTypes"
                        visit-fields="services.visitFields"
                        summary-fields="services.summaryFields">
  </service-group-preset>

  <altum-notebook ng-if="services.referralNotes"
                  notes="services.referralNotes.notes"
                  collection="{'referral': services.referral.id}"
                  email-info="services.emailInfo">
  </altum-notebook>

  <template-config ng-if="services.flagConfig.fields"
                   available-fields="services.templateFieldOptions"
                   visible-fields="services.visitFields">
  </template-config>

  <service-group services="services.services"
                 search="services.search"
                 bound-group-types="services.boundGroupTypes"
                 visit-fields="services.visitFields"
                 summary-fields="services.summaryFields"
                 on-update="services.init">
  </service-group>
</div>
