<md-content class="md-padding">
  <h2 id="Title">
    <span translate>APP.SUBJECT_PORTAL.SCHEDULE_TITLE</span>
    <small translate translate-values="{ total: schedule.scheduleSubjects.total }">
      COMMON.HATEOAS.TITLE.TOTAL
    </small>
  </h1>
  <md-divider></md-divider>
  <table ng-table="schedule.scheduleTableParams" class="table table-hover ng-table-responsive">
    <tbody ng-repeat="name in $groups track by $index">
    <tr class="ng-table-group">
      <td colspan="{{$columns.length}}">
        <a href="" ng-click="name.$hideRows = !name.$hideRows">
                  <span class="glyphicon"
                        ng-class="{ 'glyphicon-chevron-right': name.$hideRows, 'glyphicon-chevron-down': !name.$hideRows }"></span>
          <strong>{{ name.value }}</strong>
        </a>
      </td>
    </tr>
    <tr ng-hide="name.$hideRows" ng-repeat="scheduleSubject in name.data track by $index">
      <td sortable="'subjectNumber'" data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.SUBJECT_NUMBER' | translate">
        {{scheduleSubject.subjectNumber | formatter:{"type": "mrn"} }}
      </td>
      <td sortable="'studyName'" data-title="'COMMON.MODELS.STUDY.NAME' | translate">
        {{scheduleSubject.studyName}}
      </td>
      <td sortable="'collectionCentreName'"
          data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.COLLECTION_CENTRE' | translate">
        {{scheduleSubject.collectionCentreName}}
      </td>
      <td sortable="'surveyName'" data-title="'COMMON.MODELS.SURVEY.NAME' | translate">
        {{scheduleSubject.surveyName}}
      </td>
      <td sortable="'name'" data-title="'COMMON.MODELS.SESSION.NAME' | translate">
        {{scheduleSubject.name}}
      </td>
      <td sortable="'availableFrom'" data-title="'COMMON.MODELS.SUBJECT_SCHEDULE.AVAILABLE_FROM' | translate">
        {{scheduleSubject.availableFrom | date:'EEE, MMM d, y'}}
      </td>
      <td sortable="'availableTo'" data-title="'COMMON.MODELS.SUBJECT_SCHEDULE.AVAILABLE_TO' | translate">
        {{scheduleSubject.availableTo | date:'EEE, MMM d, y'}}
      </td>
    </tr>
    </tbody>
  </table>
</md-content>
