<div class="clearfix">
  <form ng-hide="advanceSearch">
    <div class="form-group no-margin has-feedback has-feedback-left">
      <i class="no-top form-control-feedback fa fa-search"></i>
      <label class="control-label ng-hide" translate>
        COMMON.HATEOAS.QUERY.PLACEHOLDER
      </label>
      <input type="text"
             class="form-control"
             context-translator="COMMON.HATEOAS.QUERY.PLACEHOLDER"
             placeholder="{{ 'COMMON.HATEOAS.QUERY.PLACEHOLDER' | translate }}"
             ng-model-options="{ debounce: 700 }"
             ng-model="field.value"
             ng-change="search(field.value)"/>
    </div>
  </form>
  <div uib-collapse="!advanceSearch">
    <ul class="list-unstyled">
      <li ng-repeat="(property, expression) in query track by $index">
        <div ng-if="expression|isDate" layout="row" layout-sm="column" layout-padding>
          <div flex>
            <i class="fa fa-times selectable" ng-click="removeFromQuery(property)"></i>
            {{ property }}
            <i class="condition"> equals </i>
          </div>
          <div flex="70" flex-sm="100">
            <input disabled class="form-control" type="date" ng-model="expression" format-date/>
          </div>
        </div>
        <div ng-if="expression|isString" layout="row" layout-sm="column" layout-padding>
          <div flex>
            <i class="fa fa-times selectable" ng-click="removeFromQuery(property)"></i>
            {{ property }}
            <i class="condition"> is </i>
          </div>
          <div flex="70" flex-sm="100">
            <input disabled class="form-control" type="text" ng-model="expression"/>
          </div>
        </div>
        <div ng-if="expression|isNumber" layout="row" layout-sm="column" layout-padding>
          <div flex>
            <i class="fa fa-times selectable" ng-click="removeFromQuery(property)"></i>
            <span translate>{{getFieldTemplate(property).prompt}}</span>
            <i class="condition"> equals </i>
          </div>
          <div ng-switch="getFieldTemplate(property).type" flex="70" flex-sm="100">
            <input disabled class="form-control" type="date" ng-switch-when="date" ng-model="expression" format-date/>
            <input disabled class="form-control" type="number" ng-switch-when="number" ng-model="expression"/>
            <input disabled class="form-control" type="text" ng-switch-when="text" ng-model="expression"/>
            <div ng-switch-default>
              <input disabled class="form-control" type="text" ng-if="expression|isString" ng-model="expression"/>
              <select-loader
                ng-if="!(expression|isString)"
                url="{{getFieldTemplate(property).type}}"
                is-atomic="true"
                is-disabled="true"
                ng-model="expression"
                labels="displayName">
              </select-loader>
            </div>
          </div>
        </div>
        <div ng-if="expression|isObject" ng-repeat="(cond, val) in expression track by $index" layout="row" layout-sm="column" layout-padding>
          <div flex>
            <i class="fa fa-times selectable" ng-click="removeFromQuery(property)"></i>
            <span translate>{{getFieldTemplate(property).prompt}}</span>
            <i class="condition"> {{cond}} </i>
          </div>
          <div ng-switch="getFieldTemplate(property).type" flex="70" flex-sm="100">
            <input disabled class="form-control" type="date" ng-switch-when="date" ng-model="val" format-date/>
            <input disabled class="form-control" type="number" ng-switch-when="number" ng-model="val"/>
            <input disabled class="form-control" type="text" ng-switch-when="text" ng-model="val"/>
            <div ng-switch-default>
              <input disabled type="text" class="form-control" ng-if="val|isString" ng-model="val"/>
              <input disabled type="text" class="form-control" ng-if="val|isArray" value="{{ val.join(' or ') }}"/>
              <select-loader
                ng-if="!(val|isArray) && !(val|isString)"
                url="{{getFieldTemplate(property).type}}"
                is-atomic="true"
                is-disabled="true"
                ng-model="val"
                labels="displayName">
              </select-loader>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <hr/>
    <form class="form-inline" role="form">
      <div class="form-group">
        <select ng-model="field" class="form-control"
                ng-options="field as field.prompt | translate for field in fields">
        </select>
      </div>
      <div class="form-group">
        <select ng-disabled="!!!field.type" class="form-control" ng-model="comparator">
          <option value="{{criterion.val}}" ng-repeat="criterion in operators track by $index" translate>
            {{criterion.translationKey}}
          </option>
        </select>
      </div>
      <div class="form-group" ng-switch="getFieldType(field.type)">
        <input ng-disabled="!!!field || !!!comparator"
               ng-switch-when="date"
               class="form-control"
               type="date"
               ng-model="field.value"/>
        <input ng-disabled="!!!field || !!!comparator"
               ng-switch-when="number"
               class="form-control"
               type="number"
               ng-model="field.value"/>
        <input ng-disabled="!!!field || !!!comparator"
               ng-switch-when="text"
               class="form-control"
               type="text"
               ng-model="field.value"/>
        <select-loader
          ng-switch-default
          ng-if="field && comparator"
          url="{{field.type}}"
          is-atomic="true"
          is-disabled="false"
          ng-model="field.value"
          labels="displayName">
        </select-loader>
      </div>
      <button ng-disabled="!!!field || !!!comparator || !!!field.value"
              class="btn btn-default"
              ng-click="add(field, comparator)" translate
              context-translator="{{COMMON.HATEOAS.QUERY.ADD_BTN}}">
        COMMON.HATEOAS.QUERY.ADD_BTN
      </button>
      <button ng-disabled="!!!query"
              class="btn btn-warning"
              ng-click="reset()" translate
              context-translator="{{COMMON.HATEOAS.QUERY.RESET_BTN}}">
        COMMON.HATEOAS.QUERY.RESET_BTN
      </button>
    </form>
  </div>
  <div class="btn-group pull-left">
    <label class="btn btn-default btn-link btn-xs" ng-repeat="queryLink in hateoasQueries">
      <span ng-if="!queryLink.populate" translate={{queryLink.prompt}}></span>
      <span ng-if="!queryLink.populate">
        <input type="radio" name="queryLink.rel" ng-click="applyQuery(queryLink.where)"
               value="queryLink.where"/>
      </span>
      <span ng-if="queryLink.populate" translate={{queryLink.prompt}}></span>
      <span ng-if="queryLink.populate">
        <input type="radio" name="queryLink.rel" ng-click="applyPopulate(queryLink.populate)"
               value="queryLink.populate"/>
        </span>

    </label>
  </div>
  <button type="button"
          ng-hide="advanced"
          class="btn btn-link btn-sm pull-right no-margin no-padding"
          ng-model="advanceSearch"
          uib-btn-checkbox
          uib-btn-checkbox-true="1"
          uib-btn-checkbox-false="0"
          context-translator="COMMON.HATEOAS.QUERY.ADVANCED.SEARCH_BTN">
    <span translate>COMMON.HATEOAS.QUERY.ADVANCED.SEARCH_BTN</span>
  </button>
</div>
