<md-content class="md-padding" layout="row" layout-sm="column">
  <div flex-gt-md="40" flex="grow">
    <md-card>
      <md-card-title layout-padding>
        <md-card-title-text>
          <span id="Title" class="md-headline" translate>APP.SUBJECT_PORTAL.PROFILE_TITLE</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <ng-form name="subjectForm" class="form-horizontal" novalidate>
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.USERNAME</label>
            <div class="col-sm-9">
              <input type="text" name="username" class="form-control"
                     data-ng-model="profile.user.username"
                     ng-minlength="5"
                     placeholder="johndoe" required>

              <p ng-show="subjectForm.username.$invalid && !subjectForm.username.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_USERNAME</p>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.EMAIL</label>

            <div class="col-sm-9">
              <input type="email" name="email" class="form-control"
                     data-ng-model="profile.user.email"
                     placeholder="johndoe@email.com" required>

              <p ng-show="subjectForm.email.$invalid && !subjectForm.email.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_EMAIL</p>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="col-sm-3 control-label" translate>APP.AUTH.PASSWORD</label>

            <div class="col-sm-9">
              <input type="text" name="password" class="form-control"
                     ng-model="profile.user.password" ng-minlength="8"
                     ng-pattern="/(?=.*[a-z])(?=.*[^a-zA-Z])/"/>
              <p ng-show="subjectForm.password.$invalid && !subjectForm.password.$pristine"
                 class="pull-right required-error" translate>
                COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_PASSWORD
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="prefix" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.PREFIX</label>

            <div class="col-sm-9">
              <select name="prefix" class="form-control" ng-model="profile.user.prefix" required>
                <option value="" disabled translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.PREFIX_PLACEHOLDER</option>
                <option value="Mr." label="Mr.">Mr.</option>
                <option value="Mrs." label="Mrs.">Mrs.</option>
                <option value="Ms." label="Ms.">Ms.</option>
                <option value="Dr." label="Dr.">Dr.</option>
              </select>

              <p ng-show="subjectForm.prefix.$invalid && !subjectForm.prefix.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.PREFIX_PLACEHOLDER</p>
            </div>
          </div>
          <div class="form-group">
            <label for="firstname" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.FIRSTNAME</label>

            <div class="col-sm-9">
              <input type="text" name="firstname" class="form-control"
                     data-ng-model="profile.user.firstname"
                     placeholder="John" required>

              <p ng-show="subjectForm.firstname.$invalid && !subjectForm.firstname.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.LASTNAME</label>

            <div class="col-sm-9">
              <input type="text" name="lastname" class="form-control"
                     data-ng-model="profile.user.lastname"
                     placeholder="Doe" required>

              <p ng-show="subjectForm.lastname.$invalid && !subjectForm.lastname.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
            </div>
          </div>
          <div class="form-group">
            <label for="gender" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.GENDER</label>

            <div class="col-sm-9">
              <select name="gender" class="form-control" ng-model="profile.user.gender">
                <option value="" disabled translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.GENDER_PLACEHOLDER</option>
                <option value="Male" label="Male">Male</option>
                <option value="Female" label="Female">Female</option>
              </select>

              <p ng-show="subjectForm.gender.$invalid && !subjectForm.gender.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
            </div>
          </div>
          <div class="form-group">
            <label for="dob" class="col-sm-3 control-label" translate>COMMON.MODELS.USER.DOB</label>

            <div class="col-sm-9">
              <p class="input-group">
                <input name="dob" type="text" class="form-control" uib-datepicker-popup ng-model="profile.user.dob"
                       is-open="profile.openedDOB" disabled/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="profile.openedDOB = true"><i
                    class="glyphicon glyphicon-calendar"></i></button>
                </span>
              <p ng-show="subjectForm.dob.$invalid && !subjectForm.dob.$pristine"
                 class="pull-right required-error" translate>COMMON.MODELS.SYSTEM_FORM.USER.QUESTIONS.INVALID_INPUT</p>
              </p>
            </div>
          </div>
          <hr/>
        </ng-form>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">

        <md-button class="md-raised md-primary" ng-click="profile.updateUser()" ng-disabled="subjectForm.$invalid">
          <span translate>
          APP.SUBJECT_PORTAL.SAVE_BUTTON
          </span>
        </md-button>

      </md-card-actions>
    </md-card>
  </div>
  <div flex="grow">
    <md-card>
      <md-card-title layout-padding>
        <md-card-title-text>
          <span id="Title" class="md-headline" translate>APP.SUBJECT_PORTAL.STUDIES_TITLE</span>
          <span class="md-subhead" translate translate-values="{ total: profile.studySubjects.total }">
            COMMON.HATEOAS.TITLE.TOTAL
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <table ng-table="profile.studyTableParams" class="table table-hover ng-table-responsive">
          <tbody ng-repeat="name in $groups track by $index">
          <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
              <a href="" ng-click="name.$hideRows = !name.$hideRows">
                  <span class="glyphicon"
                        ng-class="{ 'glyphicon-chevron-right': name.$hideRows, 'glyphicon-chevron-down': !name.$hideRows }"></span>
                <strong>{{ name.value }}</strong>
              </a>
            </td>
          </tr>
          <tr ng-hide="name.$hideRows" ng-repeat="studySubject in name.data track by $index">
            <td sortable="'subjectNumber'" data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.SUBJECT_NUMBER' | translate">
              {{studySubject.subjectNumber | formatter:{"type": "mrn"} }}
            </td>
            <td sortable="'studyName'" data-title="'COMMON.MODELS.STUDY.NAME' | translate">
              {{studySubject.studyName}}
            </td>
            <td sortable="'collectionCentreName'"
                data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.COLLECTION_CENTRE' | translate">
              {{studySubject.collectionCentreName}}
            </td>
          </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>
</md-content>
