<md-content class="md-padding" layout="row" layout-sm="column">
  <div flex-gt-md="40" flex="grow">
    <md-card>
      <md-card-title layout-padding>
        <md-card-title-text>
          <span id="Title" class="md-headline" translate>APP.SUBJECT_PORTAL.PROFILE_TITLE</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <user-editor horizontal="true" show-save-button="true" user="profile.user"></user-editor>
      </md-card-content>
    </md-card>
  </div>
  <div flex="grow">
    <md-card>
      <md-card-title layout-padding>
        <md-card-title-text>
          <span id="Title" class="md-headline" translate>APP.SUBJECT_PORTAL.STUDIES_TITLE</span>
          <span class="md-subhead" translate translate-values="{ total: profile.studySubjects.total }">
            COMMON.HATEOAS.TITLE.TOTAL
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <table ng-table="profile.studyTableParams" class="table table-hover ng-table-responsive">
          <tbody ng-repeat="name in $groups track by $index">
          <tr class="ng-table-group">
            <td colspan="{{$columns.length}}">
              <a href="" ng-click="name.$hideRows = !name.$hideRows">
                  <span class="glyphicon"
                        ng-class="{ 'glyphicon-chevron-right': name.$hideRows, 'glyphicon-chevron-down': !name.$hideRows }"></span>
                <strong>{{ name.value }}</strong>
              </a>
            </td>
          </tr>
          <tr ng-hide="name.$hideRows" ng-repeat="studySubject in name.data track by $index">
            <td sortable="'subjectNumber'" data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.SUBJECT_NUMBER' | translate">
              {{studySubject.subjectNumber | formatter:{"type": "mrn"} }}
            </td>
            <td sortable="'studyName'" data-title="'COMMON.MODELS.STUDY.NAME' | translate">
              {{studySubject.studyName}}
            </td>
            <td sortable="'collectionCentreName'"
                data-title="'COMMON.MODELS.SUBJECT_ENROLLMENT.COLLECTION_CENTRE' | translate">
              {{studySubject.collectionCentreName}}
            </td>
          </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>
  </div>
</md-content>
