<div ng-controller="GlobalBillingController as globalBilling" ng-cloak class="container-fluid">
  <div class="loading-screen" ng-show="globalBilling.loadingData"></div>
  <h2 id="Title" context-translator="COMMON.HATEOAS.TITLE.TOTAL">
    <span translate>APP.BILLING.BILLING_MANAGEMENT</span>
    <small translate translate-values="{ total: globalBilling.resource.total }">
      COMMON.HATEOAS.TITLE.TOTAL
    </small>
  </h2>

  <div id="Query" class="clearfix">
    <table id="global-billing-summary-table" class="table table-condensed summary-table">
      <tr class="summary-header-row">
        <th translate>APP.BILLING.LABELS.SEARCH</th>
        <th ng-repeat="groupType in ::globalBilling.groupTypes">{{::groupType.prompt}}</th>
        <th translate>APP.BILLING.LABELS.FIELDS</th>
      </tr>
      <tr class="summary-table-row">
        <td width="70%">
          <query-builder
            template="globalBilling.resource.template"
            ng-model="globalBilling.query.where"
            ng-if="globalBilling.resource.template">
          </query-builder>
        </td>
        <td ng-repeat="groupType in ::globalBilling.groupTypes">
          <select class="form-control" ng-model="globalBilling.boundGroupTypes[groupType.name]">
            <option value="{{::groupField.name}}" ng-repeat="groupField in ::globalBilling.groupFields" translate>
              {{::groupField.prompt}}
            </option>
          </select>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn" ng-class="{
                    'btn-info': globalBilling.showConfigureFields,
                    'btn-default': !globalBilling.showConfigureFields
                  }"
                    ng-click="globalBilling.showConfigureFields = !globalBilling.showConfigureFields">
              <i class="fa" ng-class="{
              'fa-cog': !globalBilling.showConfigureFields,
              'fa-chevron-down': globalBilling.showConfigureFields
            }"></i>
            </button>
            <button type="button" class="btn btn-default"
                    ng-click="globalBilling.expandToggle()">
              <i class="fa fa-arrows-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <service-group-preset ng-show="globalBilling.resource"
                        bound-group-types="globalBilling.boundGroupTypes"
                        visit-fields="globalBilling.visitFields"
                        summary-fields="globalBilling.summaryFields">
  </service-group-preset>

  <template-config uib-collapse="!globalBilling.showConfigureFields"
                   available-fields="globalBilling.templateFieldOptions"
                   visible-fields="globalBilling.visitFields">
  </template-config>

  <service-group ng-if="globalBilling.services"
                 services="globalBilling.services"
                 template="globalBilling.resource.template"
                 search="globalBilling.search"
                 bound-group-types="globalBilling.boundGroupTypes"
                 visit-fields="globalBilling.visitFields"
                 summary-fields="globalBilling.summaryFields"
                 on-update="globalBilling.init">
  </service-group>

  <uib-pagination total-items="globalBilling.resource.total"
                  items-per-page="globalBilling.query.limit"
                  boundary-link-numbers="true"
                  max-size="10"
                  rotate="false"
                  force-ellipses="true"
                  ng-model="globalBilling.page"
                  ng-change="globalBilling.onPageChange()">
  </uib-pagination>

  <div class="btn-group pull-right" role="group">
    <button type="button" class="btn btn-default" ng-class="{'active': globalBilling.query.limit === value}"
            ng-click="globalBilling.query.limit = value"
            ng-repeat="value in ::globalBilling.countsPerPage">
      {{::value}}
    </button>
  </div>
</div>
