<div class="container-fluid" ng-controller="AccessManagementController as am">
  <h1 id="Title">
    Access Management
  </h1>
  <div id="Query" class="clearfix">
    <query-builder
      template="am[am.current].resource.template"
      queries="am[am.current].resource.queries"
      headers="am[am.current].headers"
      ng-model="am[am.current].query.where"
      ng-if="am[am.current].resource.template">
    </query-builder>
  </div>
  <uib-tabset active="am.currentIndex">
    <uib-tab ng-repeat="tab in am.tabs" ng-click="am.selectTab(tab)" index="$index">
      <uib-tab-heading translate>
        {{tab.heading}}
      </uib-tab-heading>
      <div class="row">
        <div class="col-md-5">
          <hateoas-table
            url="{{tab.url}}"
            query="am[tab.url].query"
            selected="am[tab.url].selected"
            allow="am[tab.url].allow"
            resource="am[tab.url].resource"
            on-select="tab.fetchDetailInfo"
            on-resource-loaded="tab.onResourceLoaded">
          </hateoas-table>
        </div>
        <div class="col-md-7">
          <div ng-switch="am.current" ng-show="am.detailInfo">
            <!-- GROUP PANEL START -->
            <div class="panel panel-info" ng-switch-when="group">
              <div class="panel-heading">
                Showing Default Role Permissions for Group: <strong>{{am[tab.url].selected.displayName}}</strong>
              </div>
              <div class="panel-body" layout="column">
                <div flex ng-repeat="(action, permissions) in am.detailInfo | groupBy: 'action'">
                  <b>{{action | uppercase}}</b>
                  <md-divider></md-divider><br/>
                  <div ng-repeat="permission in permissions">
                    <permission-manager permission="permission"></permission-manager>
                  </div>
                </div>
              </div>
            </div>
            <!-- GROUP PANEL END -->

            <!-- MODEL PANEL START -->
            <div class="panel panel-info" ng-switch-when="model">
              <div class="panel-heading">
                Showing Permissions for Model: <strong>{{am[tab.url].selected.name}}</strong>
              </div>
              <div class="panel-body">
                <div flex ng-repeat="(action, permissions) in am.detailInfo | groupBy: 'action'">
                  <b>{{action | uppercase}}</b>
                  <md-divider></md-divider><br/>
                  <div ng-repeat="permission in permissions">
                    <permission-manager permission="permission"></permission-manager>
                  </div>
                </div>
              </div>
            </div>
            <!-- MODEL PANEL END -->

            <!-- ROLE PANEL START -->
            <div class="panel panel-info" ng-switch-when="role">
              <div class="panel-heading">
                Showing Permissions for Role: <strong>{{am[tab.url].selected.displayName}}</strong>
                <button class="btn btn-success btn-xs pull-right">
                  <span class="glyphicon glyphicon-plus"></span>&nbsp;Permission
                </button>
              </div>
              <div class="panel-body" layout="column">
                <div flex ng-repeat="(action, permissions) in am.detailInfo | groupBy: 'action'">
                  <b>{{action | uppercase}}</b>
                  <md-divider></md-divider><br/>
                  <div ng-repeat="permission in permissions">
                    <permission-manager permission="permission"></permission-manager>
                  </div>
                </div>
              </div>
            </div>
            <!-- ROLE PANEL END -->

            <!-- USER PANEL START -->
            <div ng-switch-when="user">
              <div class="panel panel-info">
                <div class="panel-heading">
                  Showing Roles for User: <strong>{{am[tab.url].selected.displayName}}</strong>
                </div>
                <div class="panel-body">
                  <uib-accordion>
                    <uib-accordion-group ng-repeat="(role, rolePermissions) in am.detailInfo.roles | groupBy: 'roleName'"
                                         ng-init="am.accordionStatus[role].isOpen = false"
                                         is-open="am.accordionStatus[role].isOpen">
                      <uib-accordion-heading>
                        <i class="glyphicon" ng-class="{
                          'glyphicon-chevron-right': !am.accordionStatus[role].isOpen,
                          'glyphicon-chevron-down': am.accordionStatus[role].isOpen
                        }"></i>
                        {{role}}
                      </uib-accordion-heading>
                      <div ng-repeat="(action, permissions) in rolePermissions | groupBy: 'action'">
                        <b>{{action | uppercase}}</b>
                        <md-divider></md-divider><br/>
                        <div ng-repeat="permission in permissions">
                          <permission-manager permission="permission"></permission-manager>
                        </div>
                      </div>
                    </uib-accordion-group>
                  </uib-accordion>
                </div>
              </div>

              <div class="panel panel-info" ng-if="am.detailInfo.permissions.length">
                <div class="panel-heading">
                  Showing Specific Permissions for User: <strong>{{am[tab.url].selected.displayName}}</strong>
                  <button class="btn btn-success btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Permission
                  </button>
                </div>
                <div class="panel-body" layout="column">
                  <div flex ng-repeat="(action, permissions) in am.detailInfo.permissions | groupBy: 'action'">
                    <b>{{action | uppercase}}</b>
                    <md-divider></md-divider><br/>
                    <div ng-repeat="permission in permissions">
                      <permission-manager permission="permission"></permission-manager>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- USER PANEL END -->
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
