<div ng-controller="AssessmentController as assessment" class="container">

  <div class="row">
    <div class="col-md-8">
      <h2 id="Title">
        Recommendations
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form data-ng-submit="assessment.findReferral(assessment.searchString)" autocomplete="off">
        <fieldset>
          <div class="form-group">
            <label for="searchString">Find Referrals</label>
            <input type="checkbox" name="searchOpenReferrals" ng-checked="assessment.searchOpenReferrals"
                   ng-model="assessment.searchOpenReferrals">Only Open&nbsp;
            <div class="input-group">
              <input type="text" id="searchString" name="searchString" class="form-control"
                     data-ng-model="assessment.searchString" placeholder="Search MRN / Claim / Client"
                     ng-change="assessment.findReferral(assessment.searchString)"
                     ng-model-options="{ 'debounce': 500 }">
            <span class="input-group-addon selectable">
              <i class="glyphicon glyphicon-search"></i>
            </span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <hr/>

  <h4 style="clear:both">Results&nbsp;
    <span ng-click="assessment.collapsedSearch= !assessment.collapsedSearch;">
      <i class="glyphicon" ng-class="{
        'glyphicon-chevron-right': assessment.collapsedSearch,
        'glyphicon-chevron-down': !assessment.collapsedSearch
      }"></i>
    </span>
  </h4>

  <div id="referralSearchDiv" class="form-group" uib-collapse="assessment.collapsedSearch">
    <table id="searchResults" class="table">
      <thead>
      <tr>
        <td>MRN #</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Claim Num</td>
        <td>Policy Num</td>
      </tr>
      </thead>
      <tr ng-repeat="referral in assessment.referrals" ng-click="assessment.selectReferral(referral)"
          class="{{(assessment.selectedReferral===referral) ? 'selectedRow' : ''}}">
        <td>{{referral.client_mrn}}</td>
        <td>{{referral.client_firstName}}</td>
        <td>{{referral.client_lastName}}</td>
        <td>{{referral.claim_claimNum}}</td>
        <td>{{referral.claim_policyNum}}</td>
      </tr>
    </table>
  </div>

  <div id="selectedReferralDiv" class="form-group" uib-collapse="assessment.collapsedClientDetail">
    <table id="clientDetail" class="table">
      <thead>
      <tr>
        <td>MRN #</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Claim Num</td>
        <td>Policy Num</td>
        <td>City</td>
        <td>Referral Date</td>
      </tr>
      </thead>
      <tr class="selectedRow">
        <td>{{assessment.selectedReferral.client_mrn}}</td>
        <td>{{assessment.selectedReferral.client_firstName}}</td>
        <td>{{assessment.selectedReferral.client_lastName}}</td>
        <td>{{assessment.selectedReferral.claim_claimNum}}</td>
        <td>{{assessment.selectedReferral.claim_policyNum}}</td>
        <td>{{assessment.selectedReferral.client_city}}</td>
        <td>{{assessment.selectedReferral.referralDate}}</td>
      </tr>
    </table>

    <div id="sitesDiv">
      <table id="distanceToSites" class="SiteDistanceTable">
        <tr>
          <td ng-repeat="site in assessment.sites" ng-click="assessment.selectSite(site)">{{site.name}}</td>
        </tr>
        <tr>
          <td ng-repeat="siteDistance in assessment.distanceMatrix.rows[0].elements">{{siteDistance.distance.text}}</td>
        </tr>
      </table>
    </div>
    <div id="mapDiv" class="form-div">
      <ui-gmap-google-map id="myMap" ng-if="assessment.mapReady==true" center="assessment.map.center" pan="true"
                          zoom="assessment.map.zoom">
        <ui-gmap-markers models="assessment.markers" coords="'self'" icon="'icon'" click="click">
        </ui-gmap-markers>
      </ui-gmap-google-map>
      <div id="directionsDiv"></div>
    </div>
  </div>

  <div id="recomendationsDiv">
    <table class="table table-hover">
      <tr>
        <td>Program</td>
        <td>Physician</td>
        <td>Clinic Date</td>
      </tr>
      <tr>
        <td>
          <select-loader
            url="program"
            is-atomic="true"
            is-disabled="false"
            ng-model="assessment.selectedReferral.program"
            labels="displayName">
          </select-loader>
        </td>
        <td>{{assessment.selectedReferral.physician_name}}</td>
        <td>{{assessment.selectedReferral.recieveDate}}</td>
      </tr>
    </table>

    <div id="payorDiv">
    </div>

    <div id="servicesDiv">
      <h1>Services</h1>
      <div class="panel panel-info" ng-repeat="category in assessment.currentCategories">
        <div class="panel-heading" context-translator="">
          <h3 class="panel-title ng-scope" translate="">{{category.displayName}}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
                <span class="custom-checkbox" ng-if="category.id==service.serviceCategory.id"
                      ng-repeat="service in assessment.availableServices">&nbsp;
                  <input type="checkbox" name="{{service.name}}"
                         ng-checked="assessment.isServiceRecommended(service)"
                         ng-click="assessment.toggleService(service)" />&nbsp;
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- View Panel Permissions -->
    <div class="panel panel-default">
      <div class="panel-heading">
        Recommended Services:

        <button ng-click="assessment.saveServices()">Save</button>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li ng-repeat="service in assessment.recommendedServices track by $index">
            <button class="btn btn-info btn-xs permission-btn" type="button"
                    ng-click="assessment.toggleService(service)">
              {{service.name}} <span class="glyphicon glyphicon-remove"></span>
            </button>
          </li>
      </div>
    </div>
  </div>
</div>
