/**
 * Navigation
 */
#logo_dados {
  float:left;
  padding-right: 15px;
  margin-bottom: 5px;
}
#login-brand {
  height: 52px;
}
#uhn-brand {
  max-height: 25px;
  position: relative;
  top: -3px;
}
#subBrand {
  float: right;
  width: 300px;
  position: relative;
  top: 18px;
  padding-left: 15px;
  background: url(img/dottedLine_vert.gif) top left repeat-y;
  margin: 0;
  overflow: hidden;
  height: 34px;
}
#subBrand_site {
  font-size: 12px;
  color: #ccc;
  margin: 0;
  text-transform: uppercase;
}

#subBrand_dep {
  font-size: 16px;
  color: #E79851;
  vertical-align: text-bottom;
  margin: 0;
  text-transform: uppercase;
}

#tagline {
  clear: both;
  font-size: 11px;
  color: #ccc;
}

.navbar-container {
  background-color: @headerColour;
}

.headerWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.menuWrapper {
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-default {
    background-color: @menuColour;
    border-color: @menuColour;
  }
}
.submenuWrapper {
  margin-bottom: 10px;
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-inverse {
    z-index: 10;
    position: relative;
  }
  -moz-box-shadow: 0px 4px 7px -2px #666;
  -webkit-box-shadow: 0px 4px 7px -2px #666;
  box-shadow: 0px 4px 7px -2px #666;
}
.submenu-link-colour {
  color: @submenuLinkColour;
}
.dropdown-menu > li > a {
  padding: 7px 20px;
}
