/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@fa-font-path:   "../assets/";
@icon-font-path: "../assets/";

/**
 * Colour Variables
 */
//@headerColour: rgb(0, 83, 139);
//@menuColour: rgb(59, 126, 172);
//@menuTextActive: rgb(128, 129, 178);
//@orange: rgb(231, 153, 73);
//@submenuColour: rgb(177, 203, 223);
//@submenuLinkColour: rgb(59, 126, 172);

@headerColour: rgb(13, 71, 161);
@menuColour: rgb(2, 119, 189);
@menuTextActive: rgb(162, 229, 40);
@orange: rgb(255, 152, 0);
@submenuColour: rgb(144, 202, 249);
@submenuLinkColour: rgb(2, 119, 189);

/**
 * Overriden Bootstrap Variables
 */
@font-size-base: 13px;

@navbar-height: 45px;
@navbar-default-bg: #3B7EAC;
@navbar-default-link-color: white;
@navbar-default-link-hover-color: @orange;
@navbar-default-link-hover-bg: transparent;
@navbar-default-link-active-color: white;
//@navbar-default-link-active-bg: rgb(128, 129, 178);
//
//@navbar-inverse-link-color: rgb(59, 126, 172);
//@navbar-inverse-link-hover-color: rgb(128, 129, 178);
@navbar-default-link-active-bg: rgb(2, 136, 209);

@navbar-inverse-link-color: rgb(2, 119, 189);
@navbar-inverse-link-hover-color: rgb(128, 129, 179);
@navbar-inverse-link-hover-bg: transparent;
@navbar-inverse-link-active-color: white;
@navbar-inverse-link-active-bg: transparent;

/* -- Material Design Table style -------------- */

// Variables
// ---------------------
@table-header-font-weight:      400;
@table-header-font-color:       #757575;

@table-cell-padding:            1.2rem;
@table-condensed-cell-padding:  @table-cell-padding/2;

@table-bg:                      #fff;
@table-bg-accent:               #f5f5f5;
@table-bg-hover:                rgba(0,0,0,.12);
@table-bg-active:               @table-bg-hover;
@table-border-color:            #e0e0e0;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

@zindex-navbar:            1000;
@zindex-dropdown:          1001;
@zindex-popover:           1010;
@zindex-tooltip:           1230;
@zindex-navbar-fixed:      @zindex-navbar; // 1030;
@zindex-modal-background:  1040;
@zindex-modal:             1050;

@border-darker-alt:        #dfe1e5;
@border-darker:            #e1e3e8;
@border-lighter:           #e9ecf0;