<div class="container-fluid" ng-controller="AccessManagementController as am">
  <h2 id="Title" translate>
    APP.HEADER.MENU.ACCESS_MANAGEMENT
  </h2>
  <div id="Query" class="clearfix">
    <query-builder
      template="am[am.current].resource.template"
      queries="am[am.current].resource.queries"
      headers="am[am.current].headers"
      ng-model="am[am.current].query.where"
      ng-if="am[am.current].resource.template">
    </query-builder>
  </div>
  <uib-tabset active="am.currentIndex">
    <uib-tab ng-repeat="tab in am.tabs track by $index" ng-click="am.selectTab(tab)" index="$index">
      <uib-tab-heading translate>
        {{tab.heading}}
      </uib-tab-heading>
      <div class="row" ng-if="am.current === tab.url">
        <div class="col-md-4">
          <hateoas-table
            url="{{tab.url}}"
            query="am[tab.url].query"
            selected="am[tab.url].selected"
            allow="am[tab.url].allow"
            resource="am[tab.url].resource"
            on-select="tab.fetchDetailInfo"
            on-resource-loaded="tab.onResourceLoaded">
          </hateoas-table>
        </div>
        <div class="col-md-8" ng-if="am.detailInfo">
          <!-- GROUP/MODEL/ROLE PANEL START -->
          <div ng-if="am.current !== 'user'" class="panel panel-info">
            <div class="panel-heading" ng-switch="am.current">
              <h3 class="panel-title pull-left" ng-switch-when="group">
                <span translate>APP.ACCESS.HEADINGS.SHOWING_DEFAULT_ROLE_PERMISSIONS_FOR_GROUP</span>
                : <strong>{{am[tab.url].selected.displayName}}</strong>
              </h3>
              <h3 class="panel-title pull-left" ng-switch-when="model">
                <span translate>APP.ACCESS.BUTTONS.ROLE_PERMISSION</span>
                : <strong>{{am[tab.url].selected.name}}</strong>
              </h3>
              <h3 class="panel-title pull-left" ng-switch-when="role">
                <span translate>APP.ACCESS.HEADINGS.SHOWING_PERMISSIONS_FOR_ROLE</span>
                : <strong>{{am[tab.url].selected.displayName}}</strong>
              </h3>
              <button type="button" class="btn btn-primary btn-xs pull-right"
                      ng-if="am.current === 'role'" ng-click="am.openAddPermission()">
                <i class="fa fa-plus"></i> <span translate>APP.ACCESS.BUTTONS.ROLE_PERMISSION</span>
              </button>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body" layout="column">
              <div flex ng-repeat="(action, permissions) in am.detailInfo | groupBy: 'action' track by $index">
                <b>{{action | uppercase}}</b>
                <md-divider></md-divider><br/>
                <div ng-repeat="permission in permissions track by $index">
                  <permission-manager permission="permission" on-remove="am.removeElement(am.detailInfo, permission)"></permission-manager>
                </div>
              </div>
            </div>
          </div>
          <!-- GROUP/MODEL/ROLE PANEL END -->

          <!-- USER PANEL START -->
          <div ng-if="am.current === 'user'">
            <div class="panel panel-info">
              <div class="panel-heading">
                <span translate>APP.ACCESS.HEADINGS.SHOWING_ROLES_FOR_USERS</span>
                : <strong>{{am[tab.url].selected.displayName}}</strong>
              </div>
              <div class="panel-body">
                <uib-accordion>
                  <uib-accordion-group ng-repeat="(role, rolePermissions) in am.detailInfo.roles | groupBy: 'roleName' track by $index"
                                       ng-init="am.accordionStatus[role].isOpen = false"
                                       is-open="am.accordionStatus[role].isOpen">
                    <uib-accordion-heading>
                      <i class="glyphicon" ng-class="{
                        'glyphicon-chevron-right': !am.accordionStatus[role].isOpen,
                        'glyphicon-chevron-down': am.accordionStatus[role].isOpen
                      }"></i>
                      {{role}}
                    </uib-accordion-heading>
                    <div ng-repeat="(action, permissions) in rolePermissions | groupBy: 'action' track by $index">
                      <b>{{action | uppercase}}</b>
                      <md-divider></md-divider><br/>
                      <div ng-repeat="permission in permissions track by $index">
                        <permission-manager permission="permission"
                                            on-remove="am.removeElement(am.detailInfo.roles, permission)"></permission-manager>
                      </div>
                    </div>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
              <div class="panel-footer">
                <div layout="row">
                  <div flex="70">
                    <select-loader
                      url="role"
                      is-atomic="true"
                      is-disabled="false"
                      ng-model="am.selectedNewRole"
                      labels="displayName">
                    </select-loader>
                  </div>
                  <div flex>
                    <button type="button" class="btn btn-success btn-sm pull-right"
                            ng-disabled="!am.selectedNewRole" ng-click="am.addUserToRole()">
                      <i class="fa fa-plus"></i>
                      <span translate>APP.ACCESS.BUTTONS.ADD_USER_TO_ROLE</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">
                  Showing Specific Permissions for User: <strong>{{am[tab.url].selected.displayName}}</strong>
                </h3>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="am.openAddPermission()">
                  <i class="fa fa-plus"></i>
                  <span translate>APP.ACCESS.BUTTONS.ADD_USER_PERMISSION</span>
                </button>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" layout="column">
                <div flex ng-repeat="(action, permissions) in am.detailInfo.permissions | groupBy: 'action' track by $index">
                  <b>{{action | uppercase}}</b>
                  <md-divider></md-divider><br/>
                  <div ng-repeat="permission in permissions track by $index">
                    <permission-manager permission="permission" on-remove="am.removeElement(am.detailInfo.permissions, permission)"></permission-manager>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- USER PANEL END -->
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
