<div class="container-fluid" ng-controller="AccessManagementController as am">
  <h2 id="Title" translate>
    APP.HEADER.MENU.ACCESS_MANAGEMENT
  </h2>
  <div id="Query" class="clearfix">
    <query-builder
      template="am[am.current].resource.template"
      queries="am[am.current].resource.queries"
      headers="am[am.current].headers"
      ng-model="am[am.current].query.where"
      ng-if="am[am.current].resource.template">
    </query-builder>
  </div>

  <div id="Controls" class="align-right">
    <hateoas-controls
      ng-if="am.current === 'role' && am.rolePermissions"
      data-template="am[am.current].resource.template"
      data-href="{{am[am.current].resource.referrer}}"
      data-permissions="am.rolePermissions"
      data-item="am[am.current].selected">
    </hateoas-controls>
  </div>

  <uib-tabset active="am.currentIndex">
    <uib-tab ng-repeat="tab in am.tabs track by $index" ng-click="am.selectTab(tab)" index="$index">
      <uib-tab-heading translate>
        {{tab.heading}}
      </uib-tab-heading>
      <div class="row" ng-if="am.current === tab.url">
        <div class="col-md-4">
          <hateoas-table
            url="{{tab.url}}"
            query="am[tab.url].query"
            selected="am[tab.url].selected"
            allow="am[tab.url].allow"
            resource="am[tab.url].resource"
            on-select="tab.fetchDetailInfo"
            on-resource-loaded="tab.onResourceLoaded">
          </hateoas-table>
        </div>
        <div class="col-md-8" ng-if="am.detailInfo">
          <!-- MODEL/ROLE PANEL START -->
          <div ng-if="am.current === 'model' || am.current === 'role'" class="panel panel-info">
            <div class="panel-heading">
              <div ng-class="{'input-group': am.current === 'role'}">
                <input type="text" class="form-control input-sm" ng-model="am.search" ng-if="am.current === 'model'"
                       placeholder="{{'APP.ACCESS.HEADINGS.SHOWING_ROLE_PERMISSIONS_FOR_MODEL' | translate}} : {{am[tab.url].selected.name}}"/>
                <input type="text" class="form-control input-sm" ng-model="am.search" ng-if="am.current === 'role'"
                       placeholder="{{'APP.ACCESS.HEADINGS.SHOWING_PERMISSIONS_FOR_ROLE' | translate}} : {{am[tab.url].selected.displayName}}"/>
                <span ng-if="am.current === 'role'" class="input-group-btn">
                  <button type="button" class="btn btn-primary btn-sm"
                          ng-if="am.current === 'role'" ng-click="am.openAddPermission()">
                    <i class="fa fa-plus"></i> <span translate>APP.ACCESS.BUTTONS.ROLE_PERMISSION</span>
                  </button>
                </span>
              </div>
            </div>
            <div class="panel-body" layout="column">
              <div flex ng-repeat="(action, permissions) in am.detailInfo | groupBy: 'action'">
                <b>{{action | uppercase}}</b>
                <md-divider></md-divider><br/>
                <div ng-repeat="permission in permissions | filter:am.search | orderBy: 'model.name'">
                  <permission-manager permission="permission" on-remove="am.removeElement(am.detailInfo, permission)"></permission-manager>
                </div>
              </div>
            </div>
          </div>
          <!-- MODEL/ROLE PANEL END -->

          <!-- GROUP/USER PANEL START -->
          <div ng-if="am.current === 'user' || am.current === 'group'">
            <div class="panel panel-info">
              <div class="panel-heading">
                <input type="text" class="form-control input-sm" ng-model="am.search" ng-if="am.current === 'group'"
                       placeholder="{{'APP.ACCESS.HEADINGS.SHOWING_DEFAULT_ROLE_PERMISSIONS_FOR_GROUP' | translate}} : {{am[tab.url].selected.displayName}}"/>
                <input type="text" class="form-control input-sm" ng-model="am.search" ng-if="am.current === 'user'"
                       placeholder="{{'APP.ACCESS.HEADINGS.SHOWING_ROLES_FOR_USERS' | translate}} : {{am[tab.url].selected.displayName}}"/>
              </div>
              <div class="panel-body">
                <uib-accordion>
                  <uib-accordion-group ng-repeat="(role, rolePermissions) in am.detailInfo.roles | groupBy: 'roleName'"
                                       ng-init="am.accordionStatus[role].isOpen = false"
                                       is-open="am.accordionStatus[role].isOpen">
                    <uib-accordion-heading>
                      <i class="glyphicon" ng-class="{
                        'glyphicon-chevron-right': !am.accordionStatus[role].isOpen,
                        'glyphicon-chevron-down': am.accordionStatus[role].isOpen
                      }"></i>
                      {{role}}
                      <button type="button" class="btn btn-danger btn-xs pull-right"
                              ng-click="am.removeRoleFromCollection(rolePermissions[0].role, $event)">
                        <i class="fa fa-times"></i>
                      </button>
                      <div class="clearfix"></div>
                    </uib-accordion-heading>
                    <div ng-repeat="(action, permissions) in rolePermissions | groupBy: 'action'">
                      <b>{{action | uppercase}}</b>
                      <md-divider></md-divider><br/>
                      <div ng-repeat="permission in permissions | filter:am.search | orderBy: 'model.name'">
                        <permission-manager permission="permission"
                                            on-remove="am.removeElement(am.detailInfo.roles, permission)">
                        </permission-manager>
                      </div>
                    </div>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
              <div class="panel-footer">
                <div layout="row">
                  <div flex="70">
                    <select-loader
                      url="role"
                      is-atomic="true"
                      is-disabled="false"
                      ng-model="am.selectedNewRole"
                      labels="displayName">
                    </select-loader>
                  </div>
                  <div flex>
                    <button type="button" class="btn btn-success btn-sm pull-right"
                            ng-disabled="!am.selectedNewRole" ng-click="am.addRoleToCollection()">
                      <i class="fa fa-plus"></i>
                      <span ng-if="am.current === 'group'" translate>APP.ACCESS.BUTTONS.ADD_ROLE_TO_GROUP</span>
                      <span ng-if="am.current === 'user'" translate>APP.ACCESS.BUTTONS.ADD_USER_TO_ROLE</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-info" ng-if="am.current === 'user'">
              <div class="panel-heading">
                <h3 class="panel-title pull-left">
                  Showing Specific Permissions for User: <strong>{{am[tab.url].selected.displayName}}</strong>
                </h3>
                <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="am.openAddPermission()">
                  <i class="fa fa-plus"></i>
                  <span translate>APP.ACCESS.BUTTONS.ADD_USER_PERMISSION</span>
                </button>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body" layout="column">
                <div flex ng-repeat="(action, permissions) in am.detailInfo.permissions | groupBy: 'action'">
                  <b>{{action | uppercase}}</b>
                  <md-divider></md-divider><br/>
                  <div ng-repeat="permission in permissions | filter:am.search | orderBy: 'model.name'">
                    <permission-manager permission="permission"
                                        on-remove="am.removeElement(am.detailInfo.permissions, permission)">
                    </permission-manager>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- USER PANEL END -->
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
