<div ui-tree-handle class="tree-node tree-node-content" ng-init="varpicker.parseNode(node)">
  <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" ng-click="varpicker.toggle(this)">
    <span class="glyphicon" ng-class="{
      'glyphicon-chevron-right': collapsed,
      'glyphicon-chevron-down': !collapsed
    }"></span>
  </a>

  <form class="form-inline" data-nodrag novalidate>
    <div class="form-group">
      <label ng-click="visible = !visible" ng-class="{'text-danger': this.nodeForm.$invalid}" >
        {{node.title}}
      <span class="glyphicon" ng-class="{
        'glyphicon-ok': visible && !node.data.preset && node.type !== 'none',
        'glyphicon-pencil': !visible && !node.data.preset && node.type !== 'none'
      }"></span>
      </label>
    </div>

    <div class="form-group" ng-if="node.data.category == 'basic' && node.data.preset && node.data.values.length">
      <select ng-model="node.data.value"
              class="form-control"
              ng-options="option as option for option in node.data.values">
      </select>
    </div>

    <button ng-if="node.type !== 'none'" type="button" class="btn btn-sm pull-right" ng-class="{
      'btn-primary': varpicker.selection[node.type].id !== node.id,
      'btn-success': varpicker.selection[node.type].id === node.id
    }" ng-click="varpicker.selectNode(node)" ng-disabled="this.nodeForm.$invalid">
    <span class="glyphicon" ng-class="{
      'glyphicon-plus': varpicker.selection[node.type].id !== node.id,
      'glyphicon-ok': varpicker.selection[node.type].id === node.id
    }"></span>
    </button>
  </form>

  <ng-form name="this.nodeForm" class="form-horizontal" ng-show="!node.data.preset && visible && node.type !== 'none'"
           novalidate>
    <hr/>
    <div ng-if="node.type !== 'none' && node.data.category === 'basic'"
         class="form-group" ng-class="{'has-error': this.nodeForm.metaData.$invalid}">
      <label class="col-sm-2 control-label">{{node.data.name}}</label>
      <div class="col-sm-10">
        <input type="{{node.type}}" ng-model="node.data.value" class="form-control" name="metaData"
               ng-required="!node.preset" ng-change="varpicker.updateMetaDataField(node)"/>
      </div>
    </div>

    <ng-form name="nodeDetailForm" class="form-horizontal">
      <div class="form-group" ng-if="node.data.category === 'json' || node.data.category === 'jsonmodel'"
           ng-repeat="(key, value) in node.data.value track by $index"
           ng-class="{'has-error': nodeDetailForm[key].$invalid}">
        <label class="col-sm-2 control-label">{{key}}</label>
        <div class="col-sm-10">
          <input type="text" ng-if="node.data.category === 'json'" ng-model="node.data.value[key]" class="form-control"
                 name="{{key}}" ng-change="varpicker.updateMetaDataField(node)" required/>

          <select-loader
            ng-if="node.data.category === 'jsonmodel' && !node.data.preset"
            name="{{key}}"
            required
            url="{{key}}"
            is-atomic="true"
            is-disabled="false"
            bind-object="true"
            ng-model="node.data.value[key]"
            labels="displayName">
          </select-loader>
        </div>
      </div>

      <div class="form-group" ng-if="node.data.category === 'model'"
           ng-class="{'has-error': nodeDetailForm[node.type].$invalid}">
        <label class="col-sm-2 control-label">{{node.data.name}}</label>
        <div class="col-sm-10">
          <select-loader
            name="{{node.type}}"
            url="{{node.type}}"
            required
            is-atomic="true"
            is-disabled="false"
            bind-object="true"
            ng-model="node.data.value"
            labels="displayName">
          </select-loader>
        </div>
      </div>
    </ng-form>
  </ng-form>
</div>
<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node
      ng-include="'directives/variationsPicker/variation-picker-node.tpl.html'">
  </li>
</ol>
