<form class="form-horizontal" role="form">
    <p translate>
      COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_NOTIFY
    </p>
	<div class="form-group" ng-show="widget.properties.hasOwnProperty('autocomplete')">
	    <label for="autocomplete">
	        Auto-complete
	    </label>
	    <input type="checkbox" id="autocomplete" ng-model="widget.properties.autocomplete" />
	    <ui-help uib-popover="Use the auto-complete feature on the user's browser."></ui-help>
	</div>
	<div class="form-group">
	    <label for="required" translate>
        COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_REQUIRED
	    </label>
	    <button class="btn"
	    		ng-class="!!widget.properties.required ? 'btn-success' : 'btn-default'"
	            ng-click="createExpression('required', fieldNames)">
	            when...
        </button>
	    <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_REQUIRED_POPOVER'| translate}}"></ui-help>
	</div>
	<div class="form-group">
	    <label for="hidden" translate>
        COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_HIDDEN
	    </label>
	    <button class="btn"
	    		ng-class="!!widget.properties.hidden ? 'btn-success' : 'btn-default'"
	            ng-click="createExpression('hidden', fieldNames)">
	            when...
        </button>
	    <ui-help uib-popover="Set the question as hidden."></ui-help>
	</div>
	<div class="form-group">
	    <label for="readonly" translate>
        COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_READONLY
	    </label>
	    <button class="btn"
	    		ng-class="!!widget.properties.readonly ? 'btn-success' : 'btn-default'"
	            ng-click="createExpression('readonly', fieldNames)">
	            when...
        </button>
	    <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_READONLY_POPOVER'|translate}}"></ui-help>
	</div>
	<div class="form-group">
	    <label for="disabled" translate>
        COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_DISABLED
	    </label>
	    <button class="btn"
	    		ng-class="!!widget.properties.disabled ? 'btn-success' : 'btn-default'"
	            ng-click="createExpression('disabled', fieldNames)">
	            when...
        </button>
	    <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FLAGS_DISABLED_POPOVER'| translate}}"></ui-help>
	</div>
</form>
