<form name="widget_form" class="form-horizontal" role="form">

  <div class="panel panel-danger" ng-if="widget.template === 'output'">
    <div class="panel-heading">
      Warning!
      <small>0.1 + 0.2 !== 0.3</small>
    </div>
    <div class="panel-body">
      <p>
        Note that JavaScript uses IEEE-754 floating point arithmetic.
        This is known to cause errors when performing calculations with decimal
        numbers. Please see <a href="http://support.microsoft.com/kb/42980">
        this article</a> for an in-depth explanation of all possible errors.
      </p>
    </div>
  </div>

  <div class="form-group" ng-show="widget.hasOwnProperty('template')">
    <label for="type">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.QUESTION_TYPE</span>
<!--
    ng-repeat="category in unsorted(categories) track by $index"
    {{ category }}
    template in categories[category] track by $index
-->
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.QUESTION_TYPE_POPOVER'| translate}}"></ui-help>
    </label>
    <select class="form-control" id="type" ng-model="widget.template"
      ng-options="type.template as type.name group by type.category for type in widgetTypes">
    </select>
  </div>
  <div class="form-group" ng-show="widget.hasOwnProperty('label')">
    <label for="label">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.QUESTION</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.QUESTION_POPOVER'| translate}}"></ui-help>
    </label>
    <input class="form-control" id="label"
           type="text" maxlength="256"
           ng-required="true" ng-trim="true" ng-model="widget.label"/>
  </div>
  <div class="form-group" ng-class="{'has-error': widget_form.field_name.$invalid && !widget_form.field_name.$pristine}">
    <label for="name">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FIELD_NAME</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FIELD_NAME_POPOVER'| translate}}"></ui-help>
    </label>
    <input class="form-control"
           name="field_name"
           id="name"
           placeholder="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FIELD_NAME_PLACEHOLDER'|translate}}"
           type="text" maxlength="256"
           ng-capitalize
           required
           ng-trim="true"
           ng-model="widget.name"
           ng-pattern="/^[A-Z0-9]*$/"
    />
    <div class="required-error" ng-show="widget_form.field_name.$dirty && widget_form.field_name.$invalid">
      *
      <span ng-show="widget_form.field_name.$error.required" translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FIELD_NAME_REQUIRED</span>
      <span ng-show="widget_form.field_name.$error.pattern" translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.FIELD_NAME_INVALID_UPPERCASE</span>
    </div>

  </div>
  <div class="form-group">
    <label for="title">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.TOOL_TIP</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.TOOL_TIP_POPVER'| translate}}"></ui-help>
    </label>
    <input class="form-control" id="title"
           placeholder="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.TOOL_TIP_PLACEHOLDER' | translate}}"
           type="text" maxlength="256"
           ng-required="true" ng-trim="true" ng-model="widget.properties.title"/>
  </div>
  <div class="form-group">
    <label for="defaultValue">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.DEFAULT_VALUE</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.DEFAULT_VALUE_POPOVER'|translate}}"></ui-help>
    </label>
    <input class="form-control" id="defaultValue"
           placeholder="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.DEFAULT_VALUE_PLACEHOLDER'|translate}}" type="text"
           ng-trim="true" ng-model="widget.properties.defaultValue.value"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('idForm')">
    <label for="subform">
      SubForm ID
      <ui-help uib-popover="Select a plugin to embed within this plugin.">
    </label>
    <input class="form-control" id="subform"
           placeholder="Form ID"
           type="number"
           ng-model-options="{debounce: 1000}"
           ng-required="true" ng-trim="true" ng-model="widget.properties.idForm"/>
    </ui-help>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('size')">
    <label for="size">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.WIDGET_SIZE</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.WIDGET_SIZE_POPOVER'|translate}}"></ui-help>
    </label>
    <input class="form-control" id="size" placeholder="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.WIDGET_SIZE_PLACEHOLDER'|translate}}"
           type="number" min="1" ng-model="widget.properties.size"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('maxlength')">
    <label for="maxlength">
      <span translate>COMMON.MODELS.STUDY.FORMS.CONFIGURATION.MAXIMUM_INPUT</span>
      <ui-help uib-popover="{{'COMMON.MODELS.STUDY.FORMS.CONFIGURATION.MAXIMUM_INPUT_POPOVER'|translate}}"></ui-help>
    </label>
    <input class="form-control" id="maxlength" placeholder=""
           type="number" min="0"
           ng-required="false" ng-model="widget.properties.maxlength"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('rows')">
    <label for="rows">
      Rows
      <ui-help uib-popover="Specify the number of rows for this input.">
      </ui-help>
    </label>
    <input class="form-control" id="rows" placeholder="Number of rows"
           type="number" ng-required="false" ng-model="widget.properties.rows"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('cols')">
    <label for="cols">
      Columns
      <ui-help uib-popover="Specify the number of columns for this input.">
      </ui-help>
    </label>

    <div ng-if="widget.properties.type === 'checkbox' || widget.properties.type === 'radio'">
		    <span
          class="inline-slider"
          ui-slider
          ng-model="widget.properties.cols"
          id="cols"
          title="Number of columns"
          step="1"
          min="1"
          max="4"
          ></span><span class="slider-value">
				{{ widget.properties.cols }}
			</span>
    </div>

    <input class="form-control"
           ng-if="widget.properties.type !== 'checkbox' && widget.properties.type !== 'radio'"
           id="cols1" placeholder="Number of columns"
           type="number" ng-required="false" ng-model="widget.properties.cols"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('step')">
    <label for="step">
      Step Size
      <ui-help uib-popover="Specify the increment/decrement value for this widget.">
      </ui-help>
    </label>
    <input class="form-control" id="step" type="number" ng-required="false"
           ng-model="widget.properties.step"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('min')"
       ng-switch="widget.properties.type">
    <label for="min">
      Minimum Input Value
      <ui-help uib-popover="Specify the minimum value that the user can enter.">
      </ui-help>
    </label>
    <input ng-switch-when="range" class="form-control" id="min"
           type="number"
           ng-required="false" ng-model="widget.properties.min"/>
    <input ng-switch-when="date" class="form-control" id="min2"
           type="text" uib-datepicker-popup
           ng-required="false" ng-model="widget.properties.min"/>
    <input ng-switch-default class="form-control" id="min3"
           ng-attr-type="{{widget.properties.type}}"
           ng-required="false" ng-model="widget.properties.min"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('max')"
       ng-switch="widget.properties.type">
    <label for="max">
      Max Input Value
      <ui-help uib-popover="Specify the maximum value that the user can enter.">
      </ui-help>
    </label>
    <input ng-switch-when="range" class="form-control" id="max"
           type="number"
           ng-required="false" ng-model="widget.properties.max"/>
    <input ng-switch-when="date" class="form-control" id="max1"
           type="text" uib-datepicker-popup
           ng-required="false" ng-model="widget.properties.max"/>
    <input ng-switch-default class="form-control" id="max2"
           ng-attr-type="{{widget.properties.type}}"
           ng-required="false" ng-model="widget.properties.max"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('units')">
    <label for="units">
      Slider Units
      <ui-help uib-popover="Specify any units of measurement for this widget.">
      </ui-help>
    </label>
    <input class="form-control" id="units" type="text" ng-required="false"
           ng-model="widget.properties.units"/>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('data')">
    <div class="file-drop" ng-image-drop ng-model="widget.properties.data"
         style="width:20em;">
      <p ng-show="!!!widget.properties.data">
        Drop file here.
      </p>

      <p ng-show="!!widget.properties.data">
        Drop file here to replace.
      </p>
      <img ng-show="!!widget.properties.data"
           ng-src="{{ widget.properties.data }}"
           style="max-width:20em;max-height:20em;"/>
    </div>
  </div>
  <div class="form-group" ng-show="widget.properties.hasOwnProperty('expression')">
    <label for="expression">
      Expression
      <ui-help uib-popover="Define an expression to evaluate">
      </ui-help>
    </label>
    <button class="btn" id="expression"
            ng-class="!!widget.properties.expression ? 'btn-success' : 'btn-default'"
            ng-click="createExpression('expression', fieldNames)">
      Define
    </button>
  </div>
</form>
