<div ng-controller="ReferralController as ref" ng-cloak>

  <h2 id="Title">
    Referral Overview
  </h2>

  <br/>
 <altum-label-print referral-info="ref.referral" copies="copies" ip="10.3.128.25"></altum-label-print><input type="number" ng-init="copies=1" min="1" max="100" ng-model="copies" />
  <simple-table
    rows="ref.referralInfo.rows"
    table-data="ref.referralInfo.tableData">
  </simple-table>


  <altum-notebook ng-if="ref.referral" notes="ref.referral.notes" collection="{'referral': ref.referral.id}" email-info="ref.emailInfo"></altum-notebook>

</div>


