<ng-form name="plugin">
  <div ng-if="dadosForm.mode === 'single'" class="container">
    <ui-widget ng-if="dadosForm.form.questions[dadosForm.currentQuestion].template" widget="dadosForm.form.questions[dadosForm.currentQuestion]"
               widget-model="dadosForm.form.questions[dadosForm.currentQuestion]"
               class="panel-body"></ui-widget>
    <div>
      <uib-progressbar value="dadosForm.percCompleted=value">{{value}}%</uib-progressbar>
    </div>
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-success" ng-click="dadosForm.prevQuestion()"
              ng-disabled="dadosForm.isSaving">
        Previous Question
      </a>
      <a href="#" class="btn btn-success" ng-model="dadosForm.isSaving"
              ng-click="dadosForm.nextQuestion()" ng-disabled="dadosForm.isSaving">
        Next Question
      </a>
    </div>
  </div>
  <div ng-if="dadosForm.mode !== 'single'">
    <h2 id="Title">{{dadosForm.form.name}}</h2>
    <ol class="form-horizontal" ng-model="dadosForm.form.questions" class="ui-grid" style="padding-top: 30px;">
      <li ng-repeat="widget in dadosForm.form.questions track by $index" class="panel" ng-style="widget.css">
        <ui-widget ng-if="widget.template" widget="widget"
                   widget-model="widget" disabled-when="dadosForm.signed"></ui-widget>
      </li>
    </ol>
    <button class="btn btn-danger m-l-2 pull-right"
            ng-click="dadosForm.revokeForm()" ng-show="dadosForm.signed">
      Revoke
    </button>
    <button class="btn btn-success m-l-2 pull-right"
            ng-click="dadosForm.signForm()" ng-show="dadosForm.hasAnswers()" ng-disabled="dadosForm.signed">
      Sign
    </button>
    <button class="btn btn-default m-l-2 pull-right" ng-model="dadosForm.isSaving"
            ng-click="dadosForm.saveFormAnswers()" ng-show="!dadosForm.signed" ng-disabled="dadosForm.isSaving">
      <span class="glyphicon glyphicon-floppy-disk" uib-tooltip="Save form"></span>
      Save
    </button>
  </div>
</ng-form>

