<div class="container-fluid" ng-controller="HateoasController as hateoas">
  <h2 id="Title">
    <span translate>{{ pageTitle }}</span>
    <small translate translate-values="{ total: hateoas.resource.total }">
      COMMON.HATEOAS.TITLE.TOTAL
    </small>
  </h2>
  <div id="Query" class="clearfix">
    <query-builder
      template="hateoas.resource.template"
      queries="hateoas.resource.queries"
      headers="hateoas.headers"
      ng-model="hateoas.query.where"
      ng-if="hateoas.resource.template">
    </query-builder>
  </div>
  <div id="Controls" class="align-right">
    <hateoas-controls
      ng-if='hateoas.allow'
      data-template='hateoas.template'
      data-href='{{hateoas.resource.referrer}}'
      data-permissions='hateoas.allow'
      data-item='hateoas.selected'
    ></hateoas-controls>
  </div>

  <table id="Collection" ng-table="tableParams" class="table table-hover table-mc-light-blue ng-table-responsive">
    <thead>
      <tr>
        <th ng-repeat="column in hateoas.template.data track by $index"
          ng-if="!column.data" class="sortable"
          context-translator="{{column.prompt}}"
          ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
          <span translate>{{ column.prompt }}</span> <i ng-class="{
            'fa fa-sort-asc': tableParams.isSortBy(column.name, 'asc'),
            'fa fa-sort-desc': tableParams.isSortBy(column.name, 'desc')
          }"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $data track by $index"
        ng-click="hateoas.select(item)"
        class="selectable"
        ng-class="{'active': item === hateoas.selected}">
        <td ng-repeat="column in hateoas.template.data track by $index"
          ng-if="!column.data"
          sortable="column.name">
          {{ item[column.name] | formatter:column }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
