<div class="container">
  <div id="page-heading">
    <h2>Referral Info</h2>
  </div>

  </br>

  <form name="referralregister" novalidate>
    <div class="form-horizontal">
      <div class="row">
        <div class="col-lg-6">
          <fieldset>
            <legend>Referral Info</legend>
            <div class="row">
              <div class="col-md-1"><span class="glyphicon glyphicon-user"></span></div>
              <div class="col-md-11">

                <div class="form-group">
                  <label class="control-label  col-md-3" for="client">Client:</label>
                  <select-loader
                      class="col-md-9"
                      url="client"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.client"
                      labels="displayName">
                  </select-loader>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="site">Site:</label>
                  <select-loader
                      class="col-md-9"
                      url="site"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.site"
                      labels="displayName">
                  </select-loader>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="program">Program:</label>
                  <select-loader
                      class="col-md-9"
                      url="program"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.program"
                      labels="displayName">
                  </select-loader>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="physician">Physician:</label>
                  <select-loader
                      class="col-md-9"
                      url="physician"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.physician"
                      labels="displayName">
                  </select-loader>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="staff">Staff:</label>
                  <select-loader
                      class="col-md-9"
                      url="staff"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.staff"
                      labels="displayName">
                  </select-loader>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="payors">Payors:</label>
                  <select-loader
                      class="col-md-9"
                      url="payor"
                      is-atomic="true"
                      is-disabled="false"
                      bind-object="true"
                      ng-model="RC.referral.payors"
                      labels="displayName">
                  </select-loader>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

          <div class ="col-lg-6">
            <fieldset>
              <legend>Dates</legend>
              <div class="row">
                <div class="col-md-1"><span class="glyphicon glyphicon-calendar"></span></div>
                <div class="col-md-11">
                <div class="form-group">
                  <label class="control-label col-md-3">Referral Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.referralDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened1" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened1 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Clinic Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.clinicDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened2" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened2 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Accident Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.accidentDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened3" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened3 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Receive Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.receiveDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened4" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened4 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Sent Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.sentDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened5" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened5 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3">Discharge Date:</label>
                  <div class="col-md-9">
                    <p class="input-group">
                      <input type="text"
                             ng-model="RC.referral.dischargeDate"
                             class="form-control"
                             uib-datepicker-popup
                             type="datetime-local"
                             is-open="RC.opened6" required/>
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="RC.opened6 = true">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </button>
                      </span>
                    </p>
                  </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3"> Recommendations made:</label>
                    <input class="col-md-1" type="checkbox" ng-model="RC.referral.recommendationsMade"></input>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button ng-click="RC.referralAdd(isValid)" type="submit" ng-if="!RC.referral.id"
              ng-disabled="referralForm.$invalid"
              class="btn btn-primary"><i></i> Add
      </button>
      <button ng-click="RC.save(isValid)" type="submit" ng-if="RC.referral.id"
              ng-disabled="referralForm.$invalid && RC.referral.$invalid"
              class="btn btn-primary"><i></i> Save
      </button>
      <button ng-click="RC.cancel()" ng-disabled="RC.referral.$invalid"
              class="btn">Cancel
      </button>
    </div>
  </form>
</div>
