<table class="table table-condensed table-bordered table-responsive">
  <thead>
    <tr>
      <th translate>APP.REFERRAL.DIRECTIVES.SERVICE_STATUS.LABELS.STATUS</th>
      <th ng-if="serviceStatus.defaults.detailColumns.name" translate>
        {{::serviceStatus.defaults.detailColumns.name}}
      </th>
      <th translate>APP.REFERRAL.DIRECTIVES.SERVICE_STATUS.LABELS.CHANGED</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="approval in ::serviceStatus.service[serviceStatus.collection]"
        class="{{::serviceStatus.statuses[approval.status].rowClass}}">
      <td class="text-nowrap">
        <b>{{::approval.displayName}}</b>
      </td>
      <td class="text-nowrap" ng-if="serviceStatus.defaults.detailColumns.name">
        <small>{{serviceStatus.renderStatusData(approval)}}</small>
      </td>
      <td>
        <small am-time-ago="approval.createdAt"></small>
      </td>
    </tr>
  </tbody>
</table>
