<div>
  <h1>
    {{ pageTitle }}
    <small>
      Total: {{ resource.total }}
    </small>
  </h1>
  <div class="clearfix">
    <div class="col-md-6">
      <query-builder 
        template="resource.template" 
        ng-model="query.where"
        ng-if="resource.template">
      </query-builder>
    </div>
    <div class="col-md-6">
      <button class="btn btn-default align-right"
        ng-repeat="link in resource.links">
        {{ qeury.prompt }}
      </button>
    </div>
  </div>
  <div class="align-right">
    <allow-nav
      ng-if="allow"
      data-permissions="allow" 
      data-callbacks="actions"
      data-selected="selected">
    </allow-nav> 
  </div>
  <table ng-table="tableParams" class="table">
    <thead>
      <tr>
        <th ng-repeat="column in template.data"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.name, 'asc'),
            'sort-desc': tableParams.isSortBy(column.name, 'desc')
          }" 
          ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
          {{ column.prompt }}
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $data"
        ng-click="select(item)"
        ng-class="{'active': item === selected}">
        <td ng-repeat="column in template.data"
          sortable="column.name">
          {{ item[column.name] | formatter:column }}
        </td>
        <td>
          <div ng-if="!item.form_name">
            <form-popup url="template.href" text="Complete" on-submit="actions.ok()" on-cancel="actions.cancel()"></form-popup>
          </div>
          <div ng-if="item.form_name">
            <form-popup url="item.href" text="Complete" on-submit="actions.ok()" on-cancel="actions.cancel()"></form-popup>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
