<div>
  <h1>
    {{ pageTitle }}
    <small>
      Total: {{ resource.total }}
    </small>
  </h1>
  <query-builder 
    template="resource.template" 
    ng-model="query.where"
    ng-if="resource.template">
  </query-builder>
  <div class="align-right">
    <allow-nav
      ng-if="allow"
      data-permissions="allow" 
      data-callbacks="actions"
      data-selected="selected">
    </allow-nav> 
  </div>
  <table ng-table="tableParams" class="table">
    <thead>
      <tr>
        <th ng-repeat="column in template.data"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.rel, 'asc'),
            'sort-desc': tableParams.isSortBy(column.rel, 'desc')
          }" 
          ng-click="tableParams.sorting(column.rel, tableParams.isSortBy(column.rel, 'asc') ? 'desc' : 'asc')">
          {{ column.prompt }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $data"
        ng-click="select(item)"
        ng-class="{'active': item === selected}">
        <td ng-repeat="column in template.data"
          sortable="column.rel">
          {{ item[column.rel] | formatter:column }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
