<div class="container-fluid" ng-controller="StudyUserController as studyUser">
  <h2 id="Title" context-translator="COMMON.HATEOAS.TITLE.TOTAL">
    <span translate>APP.SUBJECT_PORTAL.STUDY_USER</span>
    <small translate translate-values="{ total: studyUser.resource.total }">
      COMMON.HATEOAS.TITLE.TOTAL
    </small>
  </h1>
  <div id="Query" class="clearfix">
    <query-builder
      template="studyUser.resource.template"
      ng-model="studyUser.query.where"
      ng-if="studyUser.resource.template">
    </query-builder>
  </div>

  <div id="Controls" class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.read"
              ng-click="studyUser.openUser()"
              ng-disabled="!!!studyUser.selected"
              context-translator="APP.STUDY.USER.CONTROLS.OPEN_BTN">
        <i class="fa fa-folder-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.OPEN_BTN</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.create"
              ng-click="studyUser.openAddUser()"
              context-translator="APP.STUDY.USER.CONTROLS.NEW_BTN">
        <i class="fa fa-file-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.NEW_BTN</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.update"
              ng-click="studyUser.saveChanges()"
              context-translator="APP.STUDY.USER.CONTROLS.SAVE_CHANGES">
        <i class="fa fa-floppy-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.SAVE_CHANGES</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.delete"
              ng-click="studyUser.archiveUser()"
              ng-disabled="!!!studyUser.selected"
              context-translator="APP.STUDY.USER.CONTROLS.ARCHIVE_BTN">
        <i class="fa fa-trash-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.ARCHIVE_BTN</span>
      </button>
    </div>
  </div>

  <hateoas-table
    class="clearfix"
    url="{{studyUser.url}}"
    query="studyUser.query"
    selected="studyUser.selected"
    allow="studyUser.allow"
    resource="studyUser.resource"
    on-resource-loaded="studyUser.onResourceLoaded">
  </hateoas-table>

</div>
