<div class="btn-group">
  <button type="button" class="btn btn-default" 
    ng-click="$event.stopPropagation();"
    ng-if="canCreate"
    ng-transclude form-popup template="template" on-submit="actions.create()" on-cancel="actions.cancel()">
    <i class="fa fa-file-o"></i>
    Add
  </button>
  <button type="button" class="btn btn-default"
    ng-click="$event.stopPropagation();"
    ng-disabled="!!!selected()"
    ng-if="canUpdate"
    ng-transclude form-popup template="template" on-submit="actions.update(selected())" on-cancel="actions.cancel()">
    <i class="fa fa-edit"></i>
    Edit
  </button>
  <button type="button" class="btn btn-default"
    ng-click="actions.delete(selected()); $event.stopPropagation();"
    ng-disabled="!!!selected()"
    ng-if="canDelete">
    <i class="fa fa-trash-o"></i>
    Remove
  </button>
</div>
