<div class="modal-header">
  <h3 class="modal-title">Select Site</h3>
</div>
<div class="modal-body">
  <ng-form name="siteForm" id="siteForm" class="siteForm" novalidate>
    <div class="row">
        <distance-matrix selected-site="mapmodal.selectedSite"
                        origin="mapmodal.origin"
                        sites="mapmodal.sites"
                        destination-icon="assets/img/hospital-building.png"
                        class="col-md-3"
                        id="distanceSelector">
        </distance-matrix>
        <site-map map-ready="mapmodal.mapReady"
                map="mapmodal.map"
                selected-site="mapmodal.selectedSite"
                selected-client-marker="mapmodal.selectedClientMarker"
                markers="mapmodal.markers"
                class="col-md-9"
                id="siteMap">
        </site-map>
    </div>
  </ng-form>
</div>
<div class="modal-footer">
  <button type="submit" id="pickSiteButton" class="btn btn-primary"
          ng-disabled="siteForm.$invalid" ng-click="mapmodal.selectSite()">
    Select Site
  </button>
  <button type="button" id="cancelBtn" class="btn btn-warning" ng-click="mapmodal.cancel()">
    Cancel
  </button>
</div>
