<div class="container-fluid" ng-controller="TriageController as triage" ng-cloak>
  <h2 id="Title" translate>
    APP.REFERRAL.TRIAGE.LABELS.TRIAGE
  </h2>

  <hr/>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title" translate>APP.REFERRAL.TRIAGE.LABELS.TRIAGE_DETAILS</h3>
        </div>
        <div class="panel-body">
          <form name="triageForm" id="triageForm" data-ng-submit="triage.saveTriage()" autocomplete="off" ng-if="triage.referral">

            <div class="form-group">
              <label translate>COMMON.MODELS.REFERRAL.PROGRAM</label>
              <select ng-if="triage.referral.payors.length > 0" class="form-control"
                      ng-model="triage.selectedProgram"
                      ng-options="program.id as program.displayName for program in triage.programs">
              </select>
              <select-loader
                ng-if="triage.referral.payors.length === 0"
                url="program"
                is-atomic="true"
                bind-object="true"
                query="{'canBeTriaged': true}"
                is-disabled="false"
                ng-model="triage.selectedProgram"
                labels="displayName">
              </select-loader>
            </div>

            <div class="form-group">
              <label class="checkbox">
                <span translate>COMMON.MODELS.REFERRAL.PHYSICIAN</span>
                <input type="checkbox" ng-model="triage.isPhysicianPrimary" ng-change="triage.isStaffPrimary = false"/>
                {{triage.isPhysicianPrimary ? "(Primary)" : ""}}
              </label>

              <select-loader
                url="physician"
                is-atomic="true"
                is-disabled="false"
                ng-model="triage.selectedPhysician"
                labels="displayName">
              </select-loader>
            </div>

            <div class="form-group">
              <label ng-if="!triage.selectedStaffType" translate>
                APP.REFERRAL.TRIAGE.LABELS.SELECT_A_STAFF_TYPE
              </label>

              <label class="checkbox" ng-if="triage.selectedStaffType">
                {{triage.staffType.displayName}}
                <input type="checkbox" ng-model="triage.isStaffPrimary" ng-change="triage.isPhysicianPrimary = false"/>
                {{triage.isStaffPrimary ? "(Primary)" : ""}}
              </label>

              <div class="row" ng-if="triage.staffTypes">
                <div class="col-md-4">
                  <select ng-model="triage.selectedStaffType" class="form-control"
                          ng-change="triage.checkPrimaryProviders()"
                          ng-options="type.id as type.displayName for type in triage.staffTypes">
                  </select>
                </div>
                <div class="col-md-8">
                  <select-loader
                    ng-if="!triage.hideLoader && triage.selectedStaffType"
                    url="staff"
                    query="triage.providerBaseQuery"
                    is-atomic="true"
                    is-disabled="false"
                    ng-model="triage.selectedStaff"
                    labels="displayName">
                  </select-loader>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>
                <span translate>COMMON.MODELS.REFERRAL.SITE</span>&nbsp;
                <span class="fa fa-map-marker fa-lg selectable" ng-disabled="triage.mapDisabled" ng-click="triage.openMap()"></span>
              </label>
              <select-loader
                url="site"
                is-atomic="true"
                is-disabled="false"
                bind-object="true"
                ng-model="triage.selectedSite"
                labels="displayName">
              </select-loader>
            </div>

            <hr/>

            <button type="submit" id="saveTriage" class="btn btn-primary pull-right" translate
                    ng-disabled="triageForm.$invalid || !triage.isPhysicianPrimary && !triage.isStaffPrimary" ng-click="triage.save()">
              APP.REFERRAL.TRIAGE.LABELS.SAVE_CHANGES
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <altum-notebook ng-if="triage.referral"
                  collection="{'referral': triage.referral.id}"
                  email-info="triage.emailInfo">
  </altum-notebook>
</div>
