<div class="container-fluid" ng-controller="TriageController as triage" ng-cloak>
  <h2 id="Title">
    Triage
  </h2>

  <hr/>

  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Triage Details</h3>
        </div>
        <div class="panel-body">
          <form name="triageForm" id="triageForm" data-ng-submit="triage.saveTriage()" autocomplete="off">
            <div class="form-group">
              <label>Program</label>
              <select-loader
                url="program"
                is-atomic="true"
                bind-object="true"
                is-disabled="false"
                ng-model="triage.selectedProgram"
                ng-change="triage.checkPrimaryProviders()"
                labels="displayName">
              </select-loader>
            </div>
            <div class="form-group">
              <label>
                <span translate>APP.REFERRAL.TRIAGE.LABELS.PRIMARY_PROVIDER</span>
                <span ng-if="triage.selectedProgram.primaryProviderType">
                  ({{triage.staffType.displayName}})
                </span>
                <span ng-if="!triage.selectedProgram.primaryProviderType">
                  ({{'COMMON.MODELS.REFERRAL.PHYSICIAN' | translate}})
                </span>
              </label>
              <select-loader
                ng-if="triage.selectedProgram.primaryProviderType"
                url="staff"
                query="triage.providerBaseQuery"
                is-atomic="true"
                is-disabled="false"
                ng-model="triage.selectedPrimaryProvider"
                labels="displayName">
              </select-loader>
              <select-loader
                ng-if="!triage.selectedProgram.primaryProviderType"
                url="physician"
                is-atomic="true"
                is-disabled="false"
                ng-model="triage.selectedPhysician"
                labels="displayName">
              </select-loader>
            </div>
            <div class="form-group">
              <label>
                Site&nbsp;
                <span class="fa fa-map-marker fa-lg selectable" ng-disabled="triage.mapDisabled" ng-click="triage.openMap()"></span>
              </label>
              <select-loader
                url="site"
                is-atomic="true"
                is-disabled="false"
                ng-model="triage.selectedSite"
                labels="displayName">
              </select-loader>
            </div>
            <button type="submit" id="saveTriage" class="btn btn-primary"
                    ng-disabled="triageForm.$invalid" ng-click="triage.save()">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <altum-notebook ng-if="triage.referral" notes="triage.referral.notes" collection="{'referral': triage.referral.id}"></altum-notebook>
</div>
