<div ui-tree-handle class="tree-node tree-node-content">
  <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag
     ng-click="varedit.toggle(this)">
        <span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
  </a>

  <ng-form name="this.initialForm" class="form-inline" data-nodrag novalidate>
    <div class="form-group" ng-class="{'has-error': this.nodeForm.$invalid}">
      <label ng-click="visible = !visible" ng-class="{'text-danger': this.nodeForm.$invalid}">
        Name
        <span class="glyphicon" ng-class="{
          'glyphicon-ok': visible && node.data.preset,
          'glyphicon-pencil': !visible && node.data.preset
        }"></span>
      </label>
      <input type="text" ng-model="node.title" name="fieldName" class="form-control"/>
    </div>

    <div class="form-group" ng-class="{'has-error': this.nodeForm.$invalid}">
      <select ng-model="node.type" ng-change="varedit.applyTypeChange(node)" class="form-control" name="fieldType">
        <option value="{{type.type}}" ng-repeat="type in varedit.variationTypes">{{type.name}}</option>
      </select>
    </div>

    <a class="pull-right btn btn-danger btn-sm variation-btn" ng-click="varedit.remove(this)">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-sm variation-btn" ng-click="varedit.newSubItem(this)">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </ng-form>

  <ng-form name="this.nodeForm" ng-show="node.data.preset && visible" data-nodrag novalidate>
    <br/>
    <div ng-if="node.type === 'date' || node.type === 'number' || node.type === 'text'"
         class="form-group" ng-class="{'has-error': this.nodeForm.metaData.$invalid}">
      <label>{{node.data.name}}</label>
      <input type="{{node.type}}" ng-model="node.data.value" class="form-control" name="metaData" ng-required="node.preset"/>
    </div>
    <ng-form name="nodeDetailForm" ng-if="node.type === 'service' || node.type === 'measure' || node.type === 'menu'">
      <div class="form-group" ng-repeat="(key, value) in node.data.value" ng-class="{'has-error': nodeDetailForm[key].$invalid}">
        <label>{{key}}</label>
        <input type="text" ng-if="node.type !== 'service'" ng-model="node.data.value[key]" class="form-control" name="{{key}}"/>

        <select-loader
          ng-if="node.type === 'service'"
          name="{{key}}" required
          url="{{key}}"
          is-atomic="true"
          is-disabled="false"
          ng-model="node.data.value[key]"
          labels="displayName">
        </select-loader>
      </div>
    </ng-form>
  </ng-form>
</div>

<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'directives/variationsEditor/variation-node.tpl.html'">
  </li>
</ol>
