<div ui-tree-handle class="tree-node tree-node-content">
  <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag
     ng-click="varedit.toggle(this)">
        <span class="glyphicon" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span>
  </a>

  <ng-form name="this.initialForm" class="form-inline" data-nodrag novalidate>
    <div class="form-group" ng-class="{'has-error': this.nodeForm.$invalid}">
      <label ng-click="visible = !visible" ng-class="{'text-danger': this.nodeForm.$invalid}">
        Name
        <span class="glyphicon" ng-class="{
          'glyphicon-ok': visible && node.data.preset,
          'glyphicon-pencil': !visible && node.data.preset
        }"></span>
      </label>
      <input type="text" ng-model="node.title" name="fieldName" class="form-control"/>
    </div>

    <div class="form-group" ng-class="{'has-error': this.nodeForm.$invalid}">
      <select ng-model="node.type" ng-change="varedit.applyTypeChange(node)" class="form-control" name="fieldType">
        <option value="{{type.type}}" ng-repeat="type in varedit.variationTypes">{{type.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="node.data.preset"/> Has Preset
        </label>
      </div>
    </div>

    <a class="pull-right btn btn-danger btn-sm variation-btn" ng-click="varedit.remove(this)">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <a class="pull-right btn btn-primary btn-sm variation-btn" ng-click="varedit.newSubItem(this)">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </ng-form>

  <ng-form name="this.nodeForm" ng-show="node.data.preset && visible" data-nodrag novalidate>
    <hr/>
    <div ng-if="node.type !== 'none' && node.data.category === 'basic'"
         class="form-group" ng-class="{'has-error': this.nodeForm.metaData.$invalid}">
      <label>{{node.data.name}}</label>
      <input type="{{node.type}}" ng-model="node.data.value" class="form-control" name="metaData" ng-required="node.preset"/>
    </div>
    <ng-form name="nodeDetailForm" class="form-horizontal">
      <div class="form-group" ng-if="node.data.category === 'json' || node.data.category === 'jsonmodel'"
           ng-repeat="(key, value) in node.data.value" ng-class="{'has-error': nodeDetailForm[key].$invalid}">
        <label class="col-sm-2 control-label">{{key}}</label>
        <div class="col-sm-10">
          <input type="text" ng-if="node.data.category === 'json'"
                 ng-model="node.data.value[key]" class="form-control" name="{{key}}"/>

          <select-loader
            ng-if="node.data.category === 'jsonmodel'"
            name="{{key}}"
            ng-required="node.data.preset"
            url="{{key}}"
            is-atomic="true"
            is-disabled="false"
            ng-model="node.data.value[key]"
            labels="displayName">
          </select-loader>
        </div>
      </div>

      <div class="form-group" ng-if="node.data.category === 'model'"
           ng-class="{'has-error': nodeDetailForm[node.type].$invalid}">
        <label class="col-sm-2 control-label">{{node.data.name}}</label>
        <div class="col-sm-10">
          <select-loader
            name="{{node.type}}"
            url="{{node.type}}"
            ng-required="node.data.preset"
            is-atomic="true"
            is-disabled="false"
            ng-model="node.data.value"
            labels="displayName">
          </select-loader>
        </div>
      </div>
    </ng-form>
  </ng-form>
</div>

<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'directives/variationsEditor/variation-editor-node.tpl.html'">
  </li>
</ol>
