<table class="table table-condensed table-bordered table-responsive">
  <thead>
    <tr>
      <th translate>COMMON.MODELS.APPROVAL.STATUS</th>
      <th translate>COMMON.MODELS.APPROVAL.CREATED_AT</th>
      <th ng-repeat="column in sap.typeMap.detailColumns" translate>
        {{column.name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="approval in sap.service[sap.typeMap.endpoint]"
        class="{{sap.statuses[approval.status].rowClass}}">
      <td class="text-nowrap">
        <b>{{approval.displayName}}</b>
      </td>
      <td>
        <small>{{approval.createdAt | date: 'MMM d, y h:mm a'}}</small>
      </td>
      <td class="text-nowrap" ng-repeat="column in sap.typeMap.detailColumns" translate>
        <span ng-if="column.type === 'text'">{{column.value || "="}}</span>
        <span ng-if="column.type === 'date'">{{column.value | date: 'MMM d, y h:mm a' || "="}}</span>
      </td>
    </tr>
  </tbody>
</table>
