<table class="table table-condensed table-bordered table-responsive">
  <thead>
    <tr>
      <th translate>COMMON.MODELS.APPROVAL.STATUS</th>
      <th translate>COMMON.MODELS.APPROVAL.CREATED_AT</th>
      <th ng-repeat="column in ::sap.defaults.detailColumns" translate>
        {{::column.name}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="approval in ::sap.service[sap.collection]"
        class="{{::sap.statuses[approval.status].rowClass}}">
      <td class="text-nowrap">
        <b>{{::approval.displayName}}</b>
      </td>
      <td>
        <small>{{::approval.createdAt | date: 'MMM d, y h:mm a'}}</small>
      </td>
      <td class="text-nowrap" ng-repeat="column in ::sap.defaults.detailColumns">
        <span ng-if="column.type === 'text'">{{::approval[column.value] || "-"}}</span>
        <small ng-if="column.type === 'date'">{{::approval[column.value] | date: 'MMM d, y' || "-"}}</small>
      </td>
    </tr>
  </tbody>
</table>
