<div class="modal-header">
  <h3 id="Title" class="modal-title">{{varmodal.serviceVariation.name}}</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" ng-model="varmodal.serviceVariation.name"/>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <button class="btn btn-default" ng-click="varmodal.expandAll()">Expand all</button>
        <button class="btn btn-default" ng-click="varmodal.collapseAll()">Collapse all</button>
      </div>
    </div>
  </div>
  <variations-editor variations="varmodal.serviceVariation.variations" is-valid="varmodal.isValid"></variations-editor>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="varmodal.saveVariations()" ng-disabled="!varmodal.isValid">
    Save
  </button>
  <button type="button" id="cancelBtn" class="btn btn-warning" ng-click="varmodal.cancel()">
    Cancel
  </button>
</div>
