<div class="container">
    <div id="page-heading">
        <div ng-if="CR.client">
            <h1> {{CR.client.person.firstName}} {{CR.client.person.lastName}} </h1>
        </div>
        <div ng-if="!CR.client">
            <h1>New Client</h1>
        </div>

    </div>
    <form name="clientForm">
        <div class="form-horizontal" id="clientForm">
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Name</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/name.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="MRN">MRN</label>
                                    <div class="col-md-9">
                                        <input class="form-control" name="MRN" ng-model="CR.client.MRN" ng-minlength="3"
                                               ng-maxlength="8" type="text" ng-required="true"
                                               ng-pattern="/^(\d)+$/"/>
                                        <div ng-show="clientForm.MRN.$error.pattern">Numbers only, please.</div>
                                        <div ng-show="clientForm.MRN.$error.maxlength">MRN is too long.</div>
                                        <div ng-show="clientForm.$submitted || clientForm.MRN.$touched">
                                            <div ng-show="clientForm.MRN.$error.required">MRN is required.</div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Salutation">Salutation</label>
                                    <div class="col-md-9">
                                        <select class="form-control" placeholder="Salutation"
                                                ng-model="CR.client.person.prefix" id="Salutation" ng-required="true">
                                            <option value="Dr.">Dr.</option>
                                            <option value="Master">Master</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Mr.">Mr.</option>
                                            <option value="Mrs">Mrs.</option>
                                            <option value="Ms.">Ms.</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="FirstName">First Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="CR.client.person.firstName"
                                               name="FirstName"
                                               type="text" ng-required="true"/>
                                        <div ng-show="clientForm.$submitted || clientForm.FirstName.$touched">
                                            <div ng-show="clientForm.FirstName.$error.required">First Name is
                                                required.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="MiddleName">Middle Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="MiddleName"
                                               ng-model="CR.client.person.middleName"
                                               name="MiddleName" type="text"/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="LastName">Last Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="CR.client.person.lastName" name="LastName"
                                               type="text" ng-required="true"/>
                                        <div ng-show="clientForm.$submitted || clientForm.LastName.$touched">
                                            <div ng-show="clientForm.LastName.$error.required">Last Name is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Address</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/home.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Address1">Address1</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Street"
                                               ng-model="CR.client.person.address.address1"
                                               name="Address1"
                                               type="text" value=""/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Address2">Address2</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Street"
                                               ng-model="CR.client.person.address.address2"
                                               name="Address2"
                                               type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="City">City</label>
                                    <div class="col-md-9">
                                        <select-loader
                                                url="city"
                                                is-atomic="true"
                                                is-disabled="false"
                                                ng-model="CR.client.person.address.city"
                                                labels="displayName">
                                        </select-loader>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Province">Province</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Province"
                                               ng-model="CR.client.person.address.province"
                                               name="Province" type="text" value=""/>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Region">Region</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Region"
                                               ng-model="CR.client.person.address.region"
                                               name="Region"
                                               type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Country">Country</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Country"
                                               ng-model="CR.client.person.address.country"
                                               name="Country" type="text" value=""/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="PostalCode">Postal Code</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="PostalCode"
                                               ng-model="CR.client.person.address.postalCode"
                                               name="PostalCode" type="text" value=""/>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Phone numbers</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/phone.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="HomePhone">Home Phone</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="CR.client.person.homePhone"
                                               name="HomePhone"
                                               type="text" value=""/>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Fax">Fax</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="Fax" ng-model="CR.client.person.fax" name="Fax"
                                               type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="OtherPhone">Other Phone</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="OtherPhone"
                                               ng-model="CR.client.person.otherPhone"
                                               name="OtherPhone" type="text" value=""/>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Email</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/email.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="homeEmail">Home Email</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="CR.client.person.homeEmail"
                                               name="homeEmail"
                                               type="email" ng-required="true"/>

                                        <div ng-show="clientForm.$submitted || clientForm.homeEmail.$touched">
                                            <span ng-show="clientForm.homeEmail.$error.required">Tell us your email.</span>
                                            <span ng-show="clientForm.homeEmail.$error.email">This is not a valid email.</span>
                                        </div>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-md-3" for="ContactComments">Comments</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" ng-model="CR.client.person.contactComments"
                                                  id="ContactComments" rows="3" style="resize: none"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Family Doctor</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/doctor.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="physician">Family Doctor</label>
                                    <div class="col-md-9">
                                        <select-loader
                                                url="physician"
                                                is-atomic="true"
                                                is-disabled="false"
                                                bind-object="true"
                                                ng-model="CR.client.person.familyDoctor"
                                                labels="displayName">
                                        </select-loader>
                                        <div class="col-md-1"></div>
                                        <div class="well" ng-if="CR.client.person.familyDoctor.id">
                                            <div class="form-group">
                                                <label class="col-md-3" for="pphone">Phone: </label>
                                                <div class="col-md-9" id="pphone">
                                                    {{CR.client.person.familyDoctor.person.daytimePhone}}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3" for="pfax">Fax: </label>
                                                <div class="col-md-9" id="pfax">
                                                    {{CR.client.person.familyDoctor.person.Fax}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </fieldset>

                </div>


                <div class="col-lg-6">
                    <fieldset>
                        <legend>Emergency Contact</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/ambulance.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="EmerFirstName">First Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               ng-model="CR.client.person.primaryEmergencyContact.firstName"
                                               id="EmerFirstName"
                                               name="EmerFirstName" type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="EmerLastName">Last Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               ng-model="CR.client.person.primaryEmergencyContact.lastName"
                                               id="EmerLastName"
                                               name="EmerLastName" type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Relationship">Relationship</label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               ng-model="CR.client.person.primaryEmergencyContact.relationship"
                                               id="Relationship"
                                               name="Relationship" type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="EmerPhone">Phone</label>
                                    <div class="col-md-9">
                                        <input class="form-control"
                                               ng-model="CR.client.person.primaryEmergencyContact.phone"
                                               id="EmerPhone"
                                               name="EmerPhone" type="text" value=""/>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>


            </div>
            <div class="row">
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Basic Information</legend>
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/demographic.png" height="50"/></div>
                            <div class="col-md-11">
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Gender">Gender</label>
                                    <div class="col-md-9">
                                        <select class="form-control" id="Gender" ng-model="CR.client.person.gender"
                                                name="Gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">Birth Date</label>
                                    <div class="col-md-9">
                                        <div class="form-group" flex>
                                            <p class="input-group">
                                                <input type="text"
                                                       ng-model="CR.client.person.dateOfBirth"
                                                       class="form-control"
                                                       uib-datepicker-popup
                                                       type="datetime-local"
                                                       is-open="CR.opened"
                                                       required/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"
                                                        ng-click="CR.opened = true"><i
                                                        class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Language">Language</label>
                                    <div class="col-md-9">
                                        <input class="form-control" ng-model="CR.client.person.language" id="Language"
                                               name="Language" type="text" value=""/>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3" for="Interpreter">Interpreter</label>
                                    <div class="col-md-9">
                                        <div class="checkbox">
                                            <input type="checkbox" ng-model="CR.client.person.requiresInterpreter">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="col-lg-6">
                    <fieldset>
                        <legend>Employment/School Information</legend>
                        <div class="row">
                            <div class="col-md-2"><img src="/assets/img/job.png" height="50"/></div>
                            <div class="col-md-10">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <div class="icons">
                                            <i class="pull-right fa fa-plus-circle fa-2x"
                                               ng-click=CR.addEmployee()></i>
                                        </div>
                                    </div>

                                    <div class="panel-body">
                                        <uib-accordion>
                                            <uib-accordion-group close-others="oneAtATime"
                                                                 ng-repeat="em in CR.client.person.employments">
                                                <uib-accordion-heading>
                                                    <div ng-show="em">{{em.company.displayName}}</div>
                                                    <div ng-hide="em.company">Please Choose Company</div>
                                                    <i class="pull-right fa fa-trash-o fa-lg"
                                                       ng-click=CR.client.person.employments.splice(index,1)></i>
                                                </uib-accordion-heading>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"
                                                           for="employer">Employer</label>
                                                    <div class="col-md-9">
                                                        <select-loader
                                                                url="company"
                                                                is-atomic="true"
                                                                is-disabled="false"
                                                                bind-object="true"
                                                                ng-model="em.company"
                                                                labels="displayName">
                                                        </select-loader>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="WorkPhone">Work
                                                        Phone</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="WorkPhone"
                                                               ng-model="em.workPhone"
                                                               name="WorkPhone" type="text" value=""/>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="WorkEmail">Work
                                                        Email</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="WorkEmail"
                                                               ng-model="em.workEmail"
                                                               name="WorkEmail" type="email" value=""/>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"
                                                           for="Occupation">Occupation</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="Occupation"
                                                               ng-model="em.occupation"
                                                               name="Occupation" type="text" value=""/>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="OccuType">Occupation
                                                        Type</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="OccuType"
                                                               ng-model="em.occupationType"
                                                               name="OccuType" type="text" value=""/>

                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3" for="OccuSector">Occupation
                                                        Sector</label>
                                                    <div class="col-md-9">
                                                        <input class="form-control" id="OccuSector"
                                                               ng-model="em.occupationSector"
                                                               name="OccuSector" type="text" value=""/>

                                                    </div>
                                                </div>


                                            </uib-accordion-group>
                                        </uib-accordion>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </fieldset>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button ng-click="CR.save()" ng-if="CR.client.id" ng-disabled="CR.client.$invalid"
                class="btn btn-primary"><i></i> Save
        </button>
        <button ng-click="CR.clientAdd()" type="submit" ng-if="!CR.client.id"
                ng-disabled="CR.client.$invalid"
                class="btn btn-primary"><i></i> Add
        </button>
        <button ng-click="CR.cancelClientAdd()" ng-if="CR.client.id" ng-disabled="CR.client.$invalid"
                class="btn">Cancel
        </button>
    </div>
</div>