<!DOCTYPE html>
<html ng-app="dados" ng-controller="DadosController as dados">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="assets/img/favicon.ico"/>
    <script src="//localhost:35729/livereload.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body ng-cloak translate-cloak>
    <dados-error></dados-error>
    <dados-header></dados-header>

    <div ui-view></div>
    <footer class="footer">
      <div class="container">
        <div class="footer-inner row">
          <div class="col-md-9">
            <p>
              &copy; 2015 <a href="http://uhn.ca">University Health Network</a>.
            </p>
          </div>
          <div class="col-md-3">
            <div class="pull-right" language-select></div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
