<!DOCTYPE html>
<html ng-app="dados" ng-controller="DadosController as dados">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="assets/img/favicon.ico"/>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body dados-status dados-error>
    <dados-header submenu="dados.submenu"></dados-header>

  	<div ui-view ng-cloak></div>
    <footer class="footer">
      <div class="container">
        <div class="footer-inner row">
          <div class="col-md-10">
            <p>
              &copy; 2015 <a href="https://dados.technainstitute.com/stash/projects/DAD/repos/dados-client">Techna Institute</a>.
            </p>
          </div>
          <div class="col-md-2">
            <select class="form-control pull-right" ng-change="dados.changeLanguage()" ng-model="dados.locale">
              <option disabled translate>COMMON.LANGUAGES.LANGUAGE</option>
              <option value="en_US" translate ng-selected="true">COMMON.LANGUAGES.ENGLISH</option>
              <option value="fr" translate>COMMON.LANGUAGES.FRENCH</option>
            </select>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
