<div class="col-md-2 pull-right">
  <div class="input-group">
    <input type="number" min="1" max="100" class="form-control"
           ng-model="label.copies" ng-disabled="!label.printer" placeholder="Copies"/>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default"
            ng-disabled="!label.referralInfo || !label.printer" ng-click="label.printLabel()">
      <i class="glyphicon glyphicon-print"></i>
    </button>
  </span>
  </div>
</div>
<div class="col-md-2 pull-right">
  <select-loader
    url="printer"
    is-atomic="true"
    is-disabled="false"
    bind-object="true"
    ng-model="label.printer"
    labels="displayName">
  </select-loader>
</div>
