<div id="service-preset-container">
  <div ng-repeat="preset in serviceGroupPreset.serviceGroupPresets" class="service-preset-item">
    <button type="button" class="btn btn-sm" ng-class="{
              'btn-default': !preset.id !== serviceGroupPreset.selected.id,
              'btn-primary': preset.id === serviceGroupPreset.selected.id
            }"
            ng-click="serviceGroupPreset.selectGroupPreset(preset)">
      {{preset.name}}
      <i ng-if="serviceGroupPreset.permissions.delete" class="fa fa-times selectable"
         ng-click="serviceGroupPreset.removePreset(preset.name)" role="button"></i>
    </button>
  </div>
  <div class="service-preset-item">
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm"
              ng-disabled="!serviceGroupPreset.selected"
              ng-click="serviceGroupPreset.setPresetDefault()">
        <i class="fa fa-heart"></i>
      <button type="button" class="btn btn-warning btn-sm"
              ng-disabled="!serviceGroupPreset.hasDefaultPreset"
              ng-click="serviceGroupPreset.unsetPresetDefault()">
        <i class="fa fa-refresh"></i>
    </div>
  </div>
  <div ng-if="serviceGroupPreset.permissions.create" class="service-preset-item">
    <button type="button" class="btn btn-success btn-sm"
            ng-click="serviceGroupPreset.addGroupPreset()">
      <i class="fa fa-plus"></i>
      <span translate context-translator="APP.REFERRAL.SERVICES.LABELS.SAVE_PRESET">
        APP.REFERRAL.SERVICES.LABELS.SAVE_PRESET</span>
    </button>
  </div>
</div>
