<div id="service-preset-container">
  <div ng-repeat="preset in serviceGroupPreset.serviceGroupPresets" class="service-preset-item">
    <button type="button" class="btn btn-default btn-sm"
            ng-click="serviceGroupPreset.selectGroupPreset(preset)">
      {{preset.name}}
      <i ng-if="serviceGroupPreset.isAdmin" class="fa fa-times selectable"
         ng-click="serviceGroupPreset.removePreset(preset.name)" role="button"></i>
    </button>
  </div>
  <div ng-if="serviceGroupPreset.isAdmin" class="service-preset-item">
    <button type="button" class="btn btn-info btn-sm"
            ng-click="serviceGroupPreset.addGroupPreset()">
      <i class="fa fa-plus"></i>
      <span translate context-translator="APP.REFERRAL.SERVICES.LABELS.SAVE_PRESET">
        APP.REFERRAL.SERVICES.LABELS.SAVE_PRESET</span>
    </button>
  </div>
</div>
