<div ng-controller="StudyUserController as studyUser">
  <h1 id="Title">
    {{ pageTitle }}
    <small translate translate-values="{ total: studyUser.resource.total }">
      COMMON.HATEOAS.TITLE.TOTAL
    </small>
  </h1>
  <div id="Query" class="clearfix">
    <query-builder
      template="studyUser.resource.template"
      ng-model="studyUser.query.where"
      ng-if="studyUser.resource.template">
    </query-builder>
  </div>

  <div id="Controls" class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.read"
              ng-click="studyUser.openUser()"
              ng-disabled="!!!studyUser.selected">
        <i class="fa fa-folder-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.OPEN_BTN</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.create"
              ng-click="studyUser.openAddUser()">
        <i class="fa fa-file-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.NEW_BTN</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.update"
              ng-click="studyUser.saveChanges()">
        <i class="fa fa-floppy-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.EDIT_BTN</span>
      </button>
      <button type="button" class="btn btn-default"
              ng-if="studyUser.allow.delete"
              ng-click="studyUser.archiveUser()"
              ng-disabled="!!!studyUser.selected">
        <i class="fa fa-trash-o"></i>
        <span translate>APP.STUDY.USER.CONTROLS.ARCHIVE_BTN</span>
      </button>
    </div>
  </div>

  <hateoas-table
    class="clearfix"
    url="{{studyUser.url}}"
    query="studyUser.query"
    selected="studyUser.selected"
    filter="studyUser.filter"
    allow="studyUser.allow"
    template="studyUser.template"
    resource="studyUser.resource"
    on-resource-loaded="studyUser.onResourceLoaded">
  </hateoas-table>

</div>
