<div class="note-container">
  <div class="note">
    <div>
      <span class="date">
        {{at.note.createdAt | date: 'medium'}}
      </span>
      <span class="icons">
        <i ng-if="!at.note.$edit && at.notebook.permissions.update" tabindex="-1"
           class="fa fa-pencil fa-lg selectable"
           ng-click="at.selectEdit()"></i>
        <i ng-if="at.note.$edit" tabindex="-1"
           class="fa fa-check fa-lg selectable"></i>
        <i tabindex="-1"
           class="fa fa-envelope-o fa-lg selectable"
           ng-click="at.email = !at.email"></i>
        <i ng-if="at.notebook.permissions.delete" tabindex="-1"
           class="fa fa-trash-o fa-lg selectable" ng-click="at.removeNote()"></i>
      </span>
    </div>
    <div ng-show="!at.email">
      <table bgcolor="#00ffff">
        <td width="50px" align="center"><label for="userList">TO: </label></td>
        <td width="250px">
          <select-loader ng-if="!at.email"
                         id="userList"
                         url="user"
                         is-atomic="false"
                         bind-object="true"
                         is-disabled="false"
                         ng-model="at.toList"
                         labels="email">
          </select-loader>
        </td>
        <td width="50px" align="center">
          <i class="fa fa-envelope-o fa-lg selectable" ng-click="at.emailNote()"></i>
        </td>
      </table>
    </div>

    <div ng-show="!at.note.$edit" ng-click="at.lineHeight()" ng-focus="at.selectEdit()"
         class="markdown-body" btf-markdown="at.note.text"></div>

    <div ng-show="at.note.$edit" ng-model="at.note.text"
         ng-style="{ 'height': at.getLineHeight() + 'px' }"
         ui-ace="{
           useWrapMode: true,
           showGutter: false,
           theme: 'crimson_editor',
           mode: 'markdown',
           onLoad: at.aceLoaded,
           onBlur: at.updateNote
         }">
    </div>

    <div>
      CreatedBy: {{ at.note.displayName}}
      <span class="pull-right" ng-style="{'color': at.notebook.noteTypes[at.note.noteType].backgroundColour}">
        {{at.notebook.noteTypes[at.note.noteType].name}}
      </span>
    </div>

  </div>
</div>
