<div style="padding: 0 10px 0px 5px">
    <div>
        <div class="note">
            <div>
                <div class="date"> {{at.note.createdAt | date: 'medium'}}
                </div>
                <div class="icons">
                    <i class="fa fa-check fa-lg" ng-if="at.note.edit == false"></i>
                    <i class="fa fa-pencil fa-lg" ng-if="at.note.edit == true"></i>
                    <i class="fa fa-envelope-o fa-lg" ng-click="at.email(at.note)"></i>
                    <i class="fa fa-trash-o fa-lg" ng-click="at.delete(at.note)"></i>
                </div>
            </div>

            <div ng-model="at.note.text" ng-focus="at.note.edit = true" ng-blur="at.update(at.note)" contenteditable="true" ckeditor="{ inline: true}">
                {{ at.note.text }}
            </div>
            <div>
                CreatedBy: {{ at.note.displayName}}
            </div>
        </div>
    </div>

</div>