<div id="notebook-container" ng-class="{'show-notebar': notebook.isCollapsed}">
  <div id="slideout" ng-class="{'button-out': notebook.isCollapsed}">
    <a ng-href ng-click="notebook.isCollapsed = !notebook.isCollapsed">Notes</a>
  </div>
  <div id="page-notebar">
    <div class="panel panel-info">
      <div class="panel-heading">
        NOTES
        <span class="icons pull-right" uib-dropdown ng-if="notebook.permissions.create">
          <a ng-href uib-dropdown-toggle>
            <span class="fa fa-plus-circle fa-2x"></span>
          </a>
          <ul uib-dropdown-menu>
            <li ng-repeat="(noteTypeID, noteType) in notebook.noteTypes">
              <a ng-href ng-click="notebook.addNote(noteTypeID)">
                <i class="{{noteType.iconClass}}"></i> {{noteType.name}}
              </a>
            </li>
          </ul>
        </span>
      </div>

      <div class="form-group has-feedback has-feedback-left">
        <i class="no-top form-control-feedback fa fa-search"></i>
        <input type="text" class="form-control"
               ng-if="notebook.resource.total <= 30"
               ng-model="notebook.filterNormal" />
        <input type="text" class="form-control"
               ng-if="notebook.resource.total > 30"
               ng-model="notebook.filterQuery"
               ng-change="notebook.search(notebook.filterQuery)"
               ng-model-options="{debounce: 500}"/>
      </div>

      <uib-tabset active="notebook.noteTypeFilter">
        <uib-tab index="0" heading="All" ng-click="notebook.noteTypeFilter = {}"></uib-tab>
        <uib-tab index="$index + 1" ng-repeat="noteType in notebook.noteTypes" heading="{{noteType.name}}"
                 ng-click="notebook.noteTypeFilter.noteType = noteType.id">
        </uib-tab>
      </uib-tabset>

      <div ng-hide="notebook.loadingNotes" ng-repeat="note in notebook.notes | orderBy: 'createdAt': true | filter:notebook.filterNormal | filter:notebook.noteTypeFilter:strict"
           ng-style="{'border-left': '5px solid ' + notebook.noteTypes[note.noteType].backgroundColour}">
        <altum-note note="note"
                    collection="notebook.collection"
                    email-info="notebook.emailInfo"
                    on-remove="notebook.removeElement(notebook.notes, note)">
        </altum-note>
      </div>

      <div class="loading-screen" ng-show="notebook.loadingNotes"></div>

      <a class="pull-right" ng-href ng-if="notebook.resource.count < notebook.resource.total && !notebook.filterQuery"
         ng-click="notebook.search(notebook.filterQuery)">Load All...</a>
    </div>
  </div>
</div>
