<!-- BEGIN RIGHTBAR -->
<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            notes
        <span class="icons pull-right" uib-dropdown="">

                <a uib-dropdown-toggle="" href="">
                    <span class="fa fa-plus-circle fa-2x"></span></a>
                <ul uib-dropdown-menu="">
                    <li ng-repeat="type in notebook.noteTypes"><a ng-click="notebook.addNote(type)"><i
                            class="{{type.iconClass}}"></i>  {{type.name}}</a></li>
                </ul>

        </span>
        </div>
        <div class="panel-body">
            <div ng-repeat="note in notebook.notes | orderBy:'createdAt': true track by $index ">
                <altum-note note="note" url="notebook.url" delete="notebook.delete" notes="notebook.notes"></altum-note>
            </div>
        </div>

    </div>

</div>


<!-- END RIGHTBAR -->