<div class="container-fluid" ng-controller="RecommendationsController as rec" ng-cloak>
  <div layout="column">
    <h2 id="Title" flex>
      <span translate>APP.REFERRAL.RECOMMENDATIONS.REFERRAL_RECOMMENDATIONS</span>
    </h2>
    <div id="Query" flex class="clearfix">
      <form>
        <div class="form-group no-margin has-feedback has-feedback-left">
          <i class="no-top form-control-feedback fa fa-search"></i>
          <input type="text" class="form-control"
                 placeholder="{{ 'APP.REFERRAL.RECOMMENDATIONS.LABELS.SEARCH_AVAILABLE_RECOMMENDATIONS' | translate }}"
                 ng-model="rec.search" />
        </div>
      </form>
      <br/>
    </div>

    <referral-summary referral-data="rec.referral"></referral-summary>
  </div>

  <altum-notebook ng-if="rec.referral.notes"
                  notes="rec.referral.notes"
                  collection="{'referral': rec.referral.id}"
                  email-info="rec.emailInfo"></altum-notebook>

  <div layout="row" layout-md="column">

    <div flex="25" flex-md="100" flex-order="{{rec.serviceOrder.serviceDetail}}" id="shared-detail-panel" layout="column">
      <!-- Selected Service Detail Panel -->
      <service-detail referral="rec.referral"
                      service="rec.recommendedServices[rec.currIndex]">
      </service-detail>
      <!-- End Selected Service Detail Panel -->

      <!-- Shared Service Detail Selectors -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-folder-open-o"></i>
            <b translate>APP.REFERRAL.RECOMMENDATIONS.CURRENT_VISIT_INFO</b>
            <span> for {{rec.recommendedServices.length}} service(s)</span>
          <span class="glyphicon glyphicon-transfer selectable pull-right clearfix"
                ng-click="rec.swapPanelOrder()"></span>
          </h3>
        </div>
        <div class="panel-body">
          <ng-form layout="column" name="visitForm">
            <service-editor ng-if="rec.referral"
                            referral="rec.referral"
                            service="rec.sharedService"
                            configuration="rec.serviceEditorConfig"
                            approved-services="rec.referral.approvedServices"
                            recommended-services="rec.recommendedServices">
            </service-editor>

            <br/>
            <button class="btn btn-primary pull-right"
                    ng-disabled="rec.recommendedServices.length === 0 || !rec.areServicesValid() || rec.isSaving"
                    ng-click="rec.saveServices()">
              Make Recommendations for {{rec.recommendedServices.length}} Service(s)
            </button>
          </ng-form>
        </div>
      </div>
      <!-- End Shared Service Detail Selectors -->
    </div>

    <div flex-order="{{rec.serviceOrder.recommendedServices}}" flex>
      <recommendations-picker ng-if="rec.referral"
                              referral="rec.referral"
                              service="rec.sharedService"
                              curr-index="rec.currIndex"
                              available-services="rec.availableServices"
                              recommended-services="rec.recommendedServices"
                              search-query="rec.search">
      </recommendations-picker>
    </div>
  </div>
</div>
