<div class="container-fluid" ng-controller="TranslationController as tc">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-left">
        <h2 id="Title">
          Translation Editor
          <small>
            Total: {{tc.resource.length}}
          </small>
        </h1>
      </div>
      <div class="pull-right">
        <br/>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="tc.enableContextTranslation" ng-change="tc.toggleContextTranslation()"/> Enable Context Translation
          </label>
        </div>
        <button type="button"
                class="btn btn-success"
                ng-disabled="!tc.isValid"
                ng-click="tc.saveChanges()">
          Save All Changes
        </button>
      </div>
    </div>
  </div>

  <hr/>

  <div class="container-fluid">
    <translate-editor ng-if="tc.translationsReady"
                      translations="tc.translations"
                      languages="tc.languages"
                      queries="tc.queries"
                      on-update="tc.onUpdate"
                      on-remove="tc.onRemove"
                      is-valid="tc.isValid">
    </translate-editor>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <label>Clone Existing Language: {{tc.oldLanguage}}</label>
          <select class="form-control" ng-model="tc.oldLanguage" ng-options="lang for lang in tc.languages"></select>
        </div>

        <div class="col-md-4">
          <label>Full Language Name</label>
          <input type="text" class="form-control" ng-model="tc.newLanguageKey" placeholder="ENGLISH"/>
        </div>

        <div class="col-md-5">
          <label>To New Language With Key: {{tc.newLanguage}}</label>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="tc.newLanguage" placeholder="en_US" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary"
                      ng-disabled="!tc.newLanguage || !tc.oldLanguage || !tc.newLanguageKey"
                      ng-click="tc.cloneLanguage(tc.oldLanguage, tc.newLanguageKey, tc.newLanguage)">
                Add
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
